body,
html {
    padding: 0;
    margin: 0;
}

.modal-backdrop {
    background-color: white;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal {
    text-align: center;
}
[data-target="#viewFloorplansModal"]{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-body {
    position: relative;
}

@media (min-width: 769px) {
    .modal-dialog {
        width: 900px;
    }
}

button {
    border: none;
    outline: none;
}

#registerMyInterestModal .title {
    font-family: Montserrat-Regular;
    font-size: 48px;
    color: #1C1C1C;
    letter-spacing: 2.25px;
    line-height: 78px;
    text-align: center;
}

#registerMyInterestModal label {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.16px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 27px;
}

#registerMyInterestModal .modal-body {
    padding: 30px;
}

.modal-body .close {
    position: absolute;
    right: -20px;
    top: -20px;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 62px;
    height: 62px;
    /* background-color: black; */
}

#registerMyInterestModal button {
    background: #000000;
    font-family: Lato-Bold;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 3.5px;
    line-height: 20px;
    width: 270px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

#registerMyInterestModal input,
#registerMyInterestModal textarea {
    background: rgba(226, 226, 226, 0.15);
    border: 1px solid #9B9B9B;
    width: 100%;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #000000;
    letter-spacing: 1.08px;
    line-height: 20px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

a,
a:hover,
a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.parallax {
    min-height: 400px;
    background: transparent;
}

.hr {
    border: 1px solid #FFFFFF;
    width: 62px;
    display: block;
    margin: 25px auto;
    border-color: inherit;
}

.flex-center {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.flex-center-x {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
}

.flex-center-y {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    position: absolute;
}

.section-title {
    margin: 0;
    font-family: Montserrat-Regular;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    padding-bottom: 36px;
    border-bottom: 5px solid;
    display: inline-block;
}

nav a,
.welcome h3,
.feature-list .name,
.label,
#agent .name {
    text-transform: uppercase;
}

.label {
    display: block;
    white-space: normal;
    color: black;
}

#humburger {
    display: none;
    width: 27px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 112;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 47px;
    left: 0;
    width: 93%;
}
#home {
    background: url(../img/top-image.jpg) no-repeat center;
    background-size: cover;
}
#home nav ul {
    padding-top: 70px;
    align-items: center;
    justify-content: center;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    display: flex;
    justify-content: space-between;
}

nav ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

nav li a {
    line-height: 20px;
    padding-bottom: 21px;
    /* margin-right: 24px; */
    color: inherit;
    border-bottom: 2px solid transparent;
    font-family: Montserrat-Bold;
    font-size: 11px;
    line-height: 1.6;
    letter-spacing: 4.6px;
}

nav li a:focus {
    color: inherit;
}

nav li.last a {
    margin-right: 0;
}

nav a.logo {
    font-family: Montserrat-Regular;
    font-size: 17px;
    line-height: 1.1;
    letter-spacing: 12px;
    text-align: left;
    position: absolute;
    left: 0;
    margin-top: 15px;
}
#secondary-nav{visibility: hidden;opacity: 0;z-index: -1;}
#secondary-nav.sticky {
    display: block;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 111;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    left: 0;
    right: 0;
    width: 100%;
    transition: opacity 1s;
    opacity: 1;
    visibility: visible;
}

#secondary-nav #currentPageTitle {
    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 69px;
    letter-spacing: 4.6px;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 30px;
    margin: 0 30px;
    height: 66px;
    display: inline-block;
    text-transform: uppercase;
    width: 220px;
    text-align: center;
}

#secondary-nav.sticky .flex-center {
    position: absolute;
    height: 66px;
}

#secondary-nav .icon-arrowup,#secondary-nav .icon-arrowdown {
    cursor: pointer;
    position: absolute;
    left: -40px;
    top: 6px;
    padding: 20px;
}
#secondary-nav .icon-arrowdown{
    right: -40px;
    left: auto;
}
#secondary-nav.sticky .logo {
    font-size: 14px;
    line-height: 80px;
    letter-spacing: 12px;
    margin: 0;
    color: inherit;
    margin-left: 49px;
}

#secondary-nav.sticky .lang-switch {
    float: right;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 275px;
    line-height: 80px;
}

#secondary-nav.sticky .register {
    margin-top: 20px;
    margin-right: 15px;
}

#secondary-nav.sticky ul {
    padding-top: 20px;
}

#home .tint {
    background-color: rgba(0, 0, 0, 0.4);
}

.tint {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#home nav li a.logo {
    color: white;
}

nav li a.logo:hover {
    border: none;
}

nav li a.active,
nav li a:hover {
    border-bottom: 2px solid white;
    color: inherit;
    border-color: inherit;
}

#home nav li a.active,
#home nav li a:hover {
    color: white;
    border-color: white;
}

nav .register {
    right: 0;
    top: 0;
    border: 1px solid #FFFFFF;
    padding: 15px 20px;
    position: absolute;
    color: inherit;
    cursor: pointer;
    border-color: inherit;
    white-space: nowrap;
    font-family: Montserrat-Bold;
    font-size: 9.2px;
    line-height: 1.1;
    letter-spacing: 3px;
}

#mobile-nav {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 114;
    display: none;
    width: 100%;
}

#mobile-nav .close {
    position: absolute;
    top: 15px;
    right: 19px;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 30px;
    z-index: 100;
}

#mobile-nav > ul {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
}

#mobile-nav .hr {
    border-color: white;
    margin: 10px auto;
    margin-bottom: 27px;
}

#mobile-nav .avatar {
    width: 45px;
    display: block;
    margin: 0 auto;
    margin-bottom: 13px;
}

#mobile-nav .name {
    color: white;
    text-align: center;
    /* MICHEAL PASCOE: */
    color: #FFFFFF;
    letter-spacing: 2.3px;
    font-family: Montserrat-Bold;
    font-size: 12px;
    margin-bottom: 20px;
}

#mobile-nav .lang-switch {
    color: white;
    text-align: center;
}

#mobile-nav .register {
    position: relative;
    color: white;
    display: block;
    margin-bottom: 20px;
    font-size: 8px;
    text-align: center;
    left: 50%;
    margin-left: -137px;
    width: 274px;
    right: 0;
}

#mobile-nav .contact {
    position: relative;
    text-align: center;
    width: 160px;
    margin: 0 auto;
    margin-top: 10px;
}

#mobile-nav .contact li:last-child img {
    margin-right: 0;
}

#mobile-nav .contact li {
    float: left;
}



#mobile-nav .contact .phone,#mobile-nav .contact .email {
    position: absolute;
    left: 0;
    top: 13px;
}
#mobile-nav .contact .phone {
    top: 8px;
}

#mobile-nav .contact .phone {
    right: 0;
    left: auto;
}

#mobile-nav li a {
    color: white;
    /* text-align: center; */
    width: 100%;
    display: block;
    float: none;
    font-size: 14px;
    border-bottom: none;
    padding-left: 23px;
    padding-bottom: 10px;
    letter-spacing: 4px;
}

#mobile-nav li a.active,
#mobile-nav li a:hover {
    border: none;
}

#mobile-nav li a.logo {
    position: relative;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 8px;
}


/*home*/

#home {
    /* height: 100%; */
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
}

#wrapper section {
    height: 100vh;
    position: relative;
}

.welcome {
    position: absolute;
    top: 40%;
    left: 88px;
}

.welcome .time {
    /* SATURDAY 21st Februa: */
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 33px;
    font-weight: 200;
    margin-bottom: 100px;
    display: block;
}

.welcome h1 {
    font-family: Montserrat-Regular, serif;
    margin: 0;
    margin-bottom: 56px;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 4.4px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
}

.welcome h3 {
    font-size: 16px;
    letter-spacing: 8px;
    line-height: 20px;
    font-weight: 300;
    margin-bottom: 49px;
    text-align: left;
}

#features {
    position: relative;
    background: url(../img/feature-bg.jpg) no-repeat center;
    background-size: cover;
}

#features .box {
    left: 0;
    width: 320px;
}

#features .box .first {
    height: 307px;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 43px;
}

#features .box li {
    font-family: Lato-Bold;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 1.8px;
    margin-bottom: 56px;
}

#features .box .icon {
    float: left;
    margin-right: 38px;
    font-size: 33px;
    width: 43px;
    text-align: center;
    color: inherit;
}

#features .box .first li:nth-child(1) div,
#features .box .first li:nth-child(2) div {
    margin-top: 11px;
    float: left;
}

#features .box .first .icon-email {
    font-size: 23px;
    margin-top: 4px;
}

#features .box .last {
    height: 208px;
    background-color: #ffffff;
    padding: 43px;
}

#features .box .last li {}

#features .box .last .icon-council {
    font-size: 26px;
    margin-top: 4px;
}

section hr {
    margin: 0;
    height: 2px;
    background: #000;
    margin-bottom: 40px;
    margin-top: -2px;
    border: none;
}

.half {
    width: 50%;
    position: relative;
    float: left;
    height: 100%;
}

#features .content {
    position: absolute;
    right: 76px;
    left: 76px;
    /* top: 76px; */
    /* bottom: 76px; */
}

#features .content.scrollable {
    top: 100px;
    bottom: 76px;
}

#features .content ul {
    padding-left: 25px;
}

#features .content .feature-count {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

#features .house-feature {}

#features .house-feature li {
    list-style: disc;
}

#features .house-feature hr {
    margin-bottom: 25px;
    margin-top: 25px;
    background: #000;
}

#features .house-feature h4 {
    font-family: Montserrat-Regular;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 2px;
    margin-top: 25px;
}

#features .feature-count li {
    float: left;
    margin-right: 22px;
    font-size: 20px;
}

#features .feature-count li .icon {
    margin-right: 10px;
}

#features .feature-count li .count {
    font-family: Montserrat-Bold;
    font-size: 23px;
    line-height: 1.1;
    letter-spacing: 9.6px;
}

#features .section-title {}

#features .half.first {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
}

#features .hr {
    margin: 40px auto;
}

#features .feature-list {
    margin-bottom: 70px;
}

.content ul,
p {
    font-family: Montserrat-Regular;
    font-size: 12px;
    line-height: 2.1;
    letter-spacing: 1px;
}

#features .right ul li {
    list-style-type: disc;
    margin-left: 40px;
}

.feature-list {
    width: 123px;
    margin: 0 auto;
    height: 335px;
}

#home .lang-switch {
    padding: 0;
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.3;
    float: right;
    margin-right: 260px;
    margin-top: 13px;
}

#home .lang-switch span {
    margin-right: 10px;
    cursor: pointer;
}

#home .feature-list {
    position: absolute;
    bottom: 115px;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-top: 6%;
}

.scroll-explore {
    position: absolute;
    bottom: 50px;
    left: 88px;
}

.scroll-explore .label {
    color: #FFFFFF;
    line-height: 15px;
    font-weight: 200;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 7px;
}

.scroll-explore .icon {
    width: 26px;
    float: left;
    margin-right: 26px;
}

.feature-list li {
    float: left;
    width: 100%;
    height: 33.333333333%;
    position: relative;
}

.feature-list .icon {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 30px;
}

.feature-list .name {
    font-size: 10px;
    letter-spacing: 4.16px;
    position: absolute;
    bottom: 42px;
    width: 100%;
    left: 0;
    text-align: center;
}

#gallery {
    height: auto!important;
    padding-bottom: 0;
    min-height: 100vh;
}

#gallery-nav {
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    display: inline-block;
}

#gallery-nav .next,
#gallery-nav .prev {
    display: inline-block;
    background-image: url(../img/icon/arrow-black.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
    float: left;
}

#gallery-nav .next {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    float: right;
}

#gallery-nav .count {
    /* 1/15: */
    font-family: Montserrat-Regular;
    font-size: 28px;
    letter-spacing: 1.31px;
    line-height: 23px;
    margin: 0 70px;
}

#gallery-1 {}

#gallery-1 .rsSlide {
    background: transparent;
}

.visibleNearby {
    width: 100%;
    background: transparent;
    color: #FFF;
    padding-top: 25px;
}

.visibleNearby img {
    -webkit-backface-visibility: hidden;
}

.visibleNearby .rsGCaption {
    font-size: 16px;
    line-height: 18px;
    padding: 12px 0 16px;
    background: transparent;
    width: 100%;
    position: static;
    float: left;
    left: auto;
    bottom: auto;
    text-align: center;
}

.royalSlider > .rsImg {
    visibility: hidden;
}

.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
    background: transparent;
}


/* Scaling transforms */

.visibleNearby .rsSlide img {
    opacity: 0.45;
    filter: alpha(opacity=45);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.visibleNearby .rsActiveSlide img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* Non-linear resizing on smaller screens */

@media screen and (min-width: 0px) and (max-width: 900px) {
    #gallery-1 {
        padding: 12px 0 12px;
    }
    #gallery-1 .rsOverflow,
    .royalSlider#gallery-1 {
        height: 400px !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    #gallery-1 .rsOverflow,
    .royalSlider#gallery-1 {
        height: 230px !important;
    }
}

#location .half {
    background-color: rgba(255, 255, 255, 0.78);
    z-index: 11;
    position: absolute;
    top: 0;
    right: 0;
}

#location .box {
    position: absolute;
    left: -320px;
    width: 320px;
    height: 276px;
    z-index: 111;
    background: black;
    color: white;
}

#location .box .icon {
    font-size: 30px;
    float: left;
    margin-right: 28px;
    margin-top: 7px;
    color: inherit;
}

#location .box ul {
    margin-top: 41px;
    margin-left: 53px;
}

#location .box li {
    font-family: Lato-Bold;
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 2.6px;
}

#location .half .content {
    position: absolute;
    left: 76px;
    right: 76px;
}

#location .section-title {}

.mapwrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.mapwrapper.full {
    position: fixed;
    width: 80%;
    height: 76%;
    top: 50%;
    left: 50%;
    z-index: 101;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1130px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 1130px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 1130px rgb(0, 0, 0);
    border-radius: 0;
    background: white;
}

.mapwrapper.full #map2 {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.mapwrapper .label {
    font-size: 12px;
    letter-spacing: 1.79px;
    line-height: 16px;
    font-weight: 200;
    color: inherit;
}

.mapwrapper.full .label {
    display: none;
}

.mapwrapper .icon {
    width: 80px;
    height: 80px;
    background-image: url(../img/icon/plus.png);
    background-size: 30px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -41px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid;
    border-radius: 50%;
}

.mapwrapper.full .icon {
    background-image: url(../img/icon/close.png);
    position: absolute;
    bottom: -26px;
    margin: 0;
    left: 50%;
    margin-left: -40px;
}

#map,
#map2 {
    width: 100%;
    height: 100%;
}

.mapwrapper.full {
    display: none;
}

#auction {
    text-align: center;
    background: url(../img/auction-bg.jpg) no-repeat center;
    background-size: cover;
}

#auction .half {
    position: relative;
    z-index: 1;
}

#auction .tint {
    background-color: rgba(255, 255, 255, 0.9);
}

#auction .content {
    color: black;
    position: absolute;
    left: 76px;
    right: 76px;
    text-align: left;
}

#auction .sub-title {
    font-family: Montserrat-Regular;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 12px;
}

#auction .table {
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
}

#auction .table .add-btn {
    text-align: center;
    margin: 0 auto;
}

#auction .table td {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: #273038;
    letter-spacing: 2px;
    font-weight: 200;
    vertical-align: middle;
    border: none;
    padding-right: 25px;
}

#auction .table tr {
    height: 90px;
}

#auction .table tr:hover {
    /* background: #E2E2E2; */
    cursor: pointer;
}

#auction .table .icon {
    font-size: 31px;
    margin-bottom: 9px;
}

#auction .table .label {
    font-size: 10px;
    letter-spacing: 1.2px;
}

.icon {
    display: inline-block;
}

#agent {
    background-color: black;
}

#agent .half:nth-child(2) .flex-center-y {
    position: absolute;
    right: 76px;
}

#agent .content.flex-center {
    position: absolute;
    width: 450px;
    color: white;
}

#agent ul {
    color: inherit;
    float: left;
    position: absolute;
    font-size: 16px;
    line-height: 2.1;
    letter-spacing: 1px;
    font-family: Lato-Regular;
    right: 0;
}

#agent .icon {
    font-size: 23px;
    margin-right: 10px;
    width: 23px;
}

#agent .icon-emailsolid {
    font-size: 15px;
}

#agent p {
    color: white;
}

section#agent .hr {
    margin: 40px auto;
}

#agent .quote {
    /* ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œIt makes me proud t: */
    font-family: Montserrat-Regular;
    font-size: 24px;
    color: inherit;
    line-height: 39px;
}

#agent .avatar {
    width: 186px;
    margin: 0 auto;
    display: block;
    float: left;
}

#agent .name {
    line-height: 23px;
    text-align: center;
    margin-bottom: 25px;
    color: inherit;
    font-family: Lato-Bold;
    font-size: 19px;
    letter-spacing: 3.7px;
}

.contact {}

#contact .contact {
    /* 02 234567....: */
    font-family: Lato-Regular;
    font-size: 14px;
    letter-spacing: 0.87px;
    line-height: 24px;
}

#contact .contact li {
    margin-bottom: 18px;
}

#contact .contact li img {
    float: left;
    margin-right: 18px;
    margin-top: 3px;
}

.contact img {
    width: 24px;
}

#wrapper #contact {
    background-color: #282828;
    color: white;
    height: auto;
    padding: 120px 0;
}

#contact .socials img {
    height: 18px;
    /* Fill 8: */
}

#contact .socials {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 190px;
}

#contact .socials ul {
    position: relative;
    display: inline-block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact .socials h4 {
    /* CONNECT WITH US: */
    font-family: Lato-Bold;
    margin-top: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

#contact .socials li {
}

#contact .socials li:first-child {
}