<!-- #agent -->
    <section id="agent">
        <div class="half">
            <div class="content flex-center">
                <img src="assets/nuevo/img/agent-avatar.png" alt="MICHEAL PASCOE" class="avatar">
                <ul class="contact flex-center-y">
                    <li>
                        <h4 class="name">MICHEAL PASCOE</h4>
                    </li>
                    <li class="phone"><span class="icon icon-phone"></span>0412 345...</li>
                    <li class="email"><span class="icon icon-emailsolid"></span>Email Michael</li>
                </ul>
            </div>
        </div>
        <div class="half">
            <div class="flex-center-y niceScroll">
                <h2 class="section-title font-big">Selling Agent</h2>
                <hr>
                <h4 class="quote">“It makes me proud to be part of a team with such high integrity and commitment to serving our clients” —</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
            </div>
        </div>
    </section>
    <!-- END #agent -->