<!-- #auction -->
    <section id="auction">
        <div class="half">
            <div class="content flex-center-y have-theme-color">
                <h2 class="section-title font-big">Inspections & Auction</h2>
                <hr>
                <p>Private appointments and inspections can be made by contacting us at the agency directly and we can organise a time that suits. Otherwise our open inspections are as follows</p>
            </div>
        </div>
        <div class="half">
            <div class="flex-center-y">
                <h3 class="sub-title font-big">Open House Dates</h3>
                <table class="table font-small">
                    <tbody>
                        <tr>
                            <td><span>SATURDAY</span> 30th January</td>
                            <td>12-12:30PM</td>
                            <td></td>
                            <td>
                                <div class="add-btn">
                                    <span class="icon icon-calendar"></span><span class="label">add</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>SATURDAY</span> 7th February</td>
                            <td>12-12:30PM</td>
                            <td></td>
                            <td>
                                <div class="add-btn">
                                    <span class="icon icon-calendar"></span><span class="label">add</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>SATURDAY</span> 14th February</td>
                            <td>12-12:30PM</td>
                            <td></td>
                            <td>
                                <div class="add-btn">
                                    <span class="icon icon-calendar"></span><span class="label">add</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span>SATURDAY</span> 21st February</td>
                            <td>12-12:30PM</td>
                            <td class="have-theme-color">AUCTION</td>
                            <td>
                                <div class="add-btn">
                                    <span class="icon icon-calendar"></span><span class="label">add</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tint"></div>
    </section>
    <!-- END #auction -->