<!-- #features -->
<section id="features">
    <nav id="secondary-nav">
        <a href="#home" class="logo font-big">5 ARMAGH PARADE</a>
        <div class="flex-center">
            <span class="icon-arrowup"></span>
            <span id="currentPageTitle"><span class="inner"></span></span>
            <span class="icon-arrowdown"></span>
        </div>
        <div class="lang-switch">
            <span>ENG</span>
            <span>|</span>
            <span>中文</span>
        </div>
        <span data-toggle="modal" data-target="#registerMyInterestModal" class="register font-small">REGISTER YOUR INTEREST</span>
    </nav>
    <div class="half first">
        <div class="content niceScroll flex-center-y">
            <h2 class="section-title font-big">Features</h2>
            <hr>
            <p>
                Presented as new, this stylish architecturally designed home resides in a private and calming location yet a convenient walk to Thirroul's village. With a spacious single level floorplan and modern finishes suiting a variety of lifestyles.
            </p>
            <ul>
                <li>- North facing aspect, leafy escarpment views and ocean glimpse</li>
                <li>- Spacious interiors are enhanced by beautiful timber floorboards</li>
                <li>- Open flowing living, dining, kitchen plus separate formal lounge </li>
                <li>- The wrap around entertaining veranda is bathed in northern sun</li>
                <li>- Contemporary stone kitchen fitted with stainless steel appliances </li>
                <li>- Two bedrooms with built-ins, master with ensuite and walk-in robe </li>
                <li>- Features include air conditioning, gas heating, alarm system </li>
                <li>- Oversized double garage, additional workshop space and storage </li>
                <li>- Beautifully maintained gardens behind private security gate</li>
                <li>- Easy stroll to Thirroul's amenities including cafes and transport</li>
            </ul>
            <ul class="feature-count clearfix">
                <li><span class="icon icon-bed"></span><span class="count">3</span></li>
                <li><span class="icon icon-bathtub"></span><span class="count">3</span></li>
                <li><span class="icon icon-car"></span><span class="count">2</span></li>
            </ul>
            <div class="house-feature">
                <h4>HOUSE FEATURES</h4>
                <hr>
                <div class="clearfix">
                    <ul class="col-md-6">
                        <li>Ocean views</li>
                        <li>Full Miele Appliances</li>
                        <li>Induction cooking</li>
                    </ul>
                    <ul class="col-md-6">
                        <li>Built-in Wardrobes</li>
                        <li>Dishwasher</li>
                        <li>Ducted vacuuming</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="half">
        <div class="box flex-center-y">
            <ul class="first">
                <li data-toggle="modal" data-target="#viewFloorplansModal" class="clearfix"><span class="icon icon-floorplan"></span>
                    <div>VIEW FLOORPLANS</div>
                </li>
                <li class="clearfix"><span class="icon icon-document"></span>
                    <div>PRINT BROCHURE</div>
                </li>
                <li class="clearfix"><span class="icon icon-email"></span>
                    <div>EMAIL YOURSELF
                        <br>OR A FRIEND</div>
                </li>
            </ul>
            <ul class="last">
                <li><span class="icon icon-waterdrop"></span>
                    <div>WATER RATES
                        <br><strong>$940 P.A.</strong></div>
                </li>
                <li><span class="icon icon-council"></span>
                    <div>COUNCIL RATES
                        <br><strong>$2,012 PA.</strong></div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- END #features -->
