<!-- #gallery -->
<section id="gallery" class="clearfix page">
    <img data-src="assets/nuevo/img/gallery/Slideshow-01.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-01.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-02.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-02.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-03.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-03.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-04.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-04.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-05.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-05.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-06.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-06.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-07.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-07.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-08.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-08.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-09.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-09.jpg">
    <img data-src="assets/nuevo/img/gallery/Slideshow-10.jpg" data-thumb="assets/nuevo/img/gallery/Slideshow-10.jpg">
</section>
<!-- END #gallery -->
