    <!-- #location -->
    <section id="location" class="clearfix page">
        <div id="map"></div>
        <div class="half">
            <div class="box flex-center-y">
                <ul>
                    <li><span class="icon icon-book"></span>
                        <div>NEAREST SCHOOLS
                            <br>$940 P.A.</div>
                    </li>
                    <li><span class="icon icon-shop"></span>SHOPS
                        <br>0.92KMS</li>
                    <li><span class="icon icon-transport"></span>TRANSPORT
                        <br>0.5KMS</li>
                </ul>
            </div>
            <div class="content flex-center-y">
                <h2 class="section-title font-big">Location</h2>
                <hr>
                <p>Set in the sought after location of the Northern Suburbs, this family home is situated in a quiet cul-de-sac only moments away from McCauley's beach. Shops, cafes and trains are only a short walk away. Live the lifestyle in the seaside village of Thirroul with easy access to Sydney.</p>
            </div>
        </div>
    </section>
    <!-- END #location -->