<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="" ng-app="upsites">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Reside</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="assets/classica/vendor/royalslider/royalslider.css">
    <link rel="stylesheet" href="assets/classica/vendor/magnific-popup/magnific-popup.css">
    <link rel='stylesheet' href='assets/nuevo/vendor/square-gallery/css/square-gallery.min.css'>
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/main/css/main.css">
    <link rel="stylesheet" href="assets/main/css/responsive.css">
</head>

<body class="theme-color-0 theme-bg-1" ng-controller="MainCtrl as mainVm">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- #home -->
    <upsites-theme theme="{{ mainVm.currentTheme }}"></upsites-theme>
    <edit-tools></edit-tools>
    <theme-selector></theme-selector>
    <theme-reorder></theme-reorder>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_71O8tdhbL-Xaiy3dB1aYgYo9_tUWz5w"></script>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/angular/angular.min.js"></script>
    <script src="vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="vendors/solve.naming.conflict.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendors/angular-ui-sortable/sortable.min.js"></script>
    <script src="vendors/angular-css-injector/angular-css-injector.min.js"></script>
    <script src="vendors/jquery.nicescroll.min.js"></script>
    <script src="vendors/ngSmoothScroll/dist/angular-smooth-scroll.min.js"></script>
    <script src="vendors/isMobile.min.js"></script>
    <!-- Classica -->
    <script src="assets/classica/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/classica/vendor/royalslider/jquery.royalslider.min.js"></script>
    <script src="assets/classica/vendor/parallaxjs/parallax.min.js"></script>
    <!-- Nuevo -->
    <script src="assets/nuevo/vendor/square-gallery/js/square-gallery.min.js"></script>
    <!-- Stream -->
    <script src="assets/stream/vendor/mmenu/js/jquery.mmenu.all.min.js"></script>
    <script src="assets/stream/vendor/bxslider/jquery.bxslider.min.js"></script>
    <script src="assets/stream/js/jquerymobile.custom.min.js"></script>

    <!-- Site scripts -->
    <script>
    var _j = jQuery.noConflict();
    </script>
    <script src="dist/scripts.js"></script>
</body>

</html>