@font-face {
  font-family: 'classica';
  src:  url('fonts/classica.eot?ece788');
  src:  url('fonts/classica.eot?ece788#iefix') format('embedded-opentype'),
    url('fonts/classica.ttf?ece788') format('truetype'),
    url('fonts/classica.woff?ece788') format('woff'),
    url('fonts/classica.svg?ece788#classica') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="clc-"], [class*=" clc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'classica' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clc-menu:before {
  content: "\e921";
}
.clc-arrowleft:before {
  content: "\e91f";
}
.clc-arrowright:before {
  content: "\e920";
}
.clc-playsolid:before {
  content: "\e91e";
}
.clc-arrowup:before {
  content: "\e91d";
}
.clc-amenities:before {
  content: "\e900";
}
.clc-bathroom:before {
  content: "\e901";
}
.clc-bedroom:before {
  content: "\e902";
}
.clc-book:before {
  content: "\e903";
}
.clc-bus:before {
  content: "\e904";
}
.clc-calendar:before {
  content: "\e905";
}
.clc-camera:before {
  content: "\e906";
}
.clc-close:before {
  content: "\e907";
}
.clc-coffee:before {
  content: "\e908";
}
.clc-computer:before {
  content: "\e909";
}
.clc-council:before {
  content: "\e90a";
}
.clc-document:before {
  content: "\e90b";
}
.clc-download:before {
  content: "\e90c";
}
.clc-drop:before {
  content: "\e90d";
}
.clc-email:before {
  content: "\e90e";
}
.clc-facebook:before {
  content: "\e90f";
}
.clc-house:before {
  content: "\e910";
}
.clc-insta:before {
  content: "\e911";
}
.clc-linkedin:before {
  content: "\e912";
}
.clc-parking:before {
  content: "\e913";
}
.clc-pencil:before {
  content: "\e914";
}
.clc-people:before {
  content: "\e915";
}
.clc-phone:before {
  content: "\e916";
}
.clc-picture:before {
  content: "\e917";
}
.clc-play:before {
  content: "\e918";
}
.clc-ruler:before {
  content: "\e919";
}
.clc-shop:before {
  content: "\e91a";
}
.clc-twitter:before {
  content: "\e91b";
}
.clc-url:before {
  content: "\e91c";
}

