@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?2pvc0b');
    src:    url('fonts/icomoon.eot?2pvc0b#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?2pvc0b') format('truetype'),
        url('fonts/icomoon.woff?2pvc0b') format('woff'),
        url('fonts/icomoon.svg?2pvc0b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
    content: "\e920";
}
.icon-close:before {
    content: "\e91f";
}
.icon-link:before {
    content: "\e91e";
}
.icon-amenities:before {
    content: "\e900";
}
.icon-arrowdown:before {
    content: "\e901";
}
.icon-arrowleft:before {
    content: "\e902";
}
.icon-arrowright:before {
    content: "\e903";
}
.icon-arrowup:before {
    content: "\e904";
}
.icon-bathtub:before {
    content: "\e905";
}
.icon-bed:before {
    content: "\e906";
}
.icon-book:before {
    content: "\e907";
}
.icon-calendar:before {
    content: "\e908";
}
.icon-car:before {
    content: "\e909";
}
.icon-coffee:before {
    content: "\e90a";
}
.icon-council:before {
    content: "\e90b";
}
.icon-document:before {
    content: "\e90c";
}
.icon-download:before {
    content: "\e90d";
}
.icon-email:before {
    content: "\e90e";
}
.icon-facebook:before {
    content: "\e90f";
}
.icon-floorplans:before {
    content: "\e910";
}
.icon-house:before {
    content: "\e911";
}
.icon-instagram:before {
    content: "\e912";
}
.icon-linkedin:before {
    content: "\e913";
}
.icon-marker:before {
    content: "\e914";
}
.icon-pencil:before {
    content: "\e915";
}
.icon-people:before {
    content: "\e916";
}
.icon-phone:before {
    content: "\e917";
}
.icon-play:before {
    content: "\e918";
}
.icon-ruler:before {
    content: "\e919";
}
.icon-shop:before {
    content: "\e91a";
}
.icon-transport:before {
    content: "\e91b";
}
.icon-twitter:before {
    content: "\e91c";
}
.icon-waterdrop:before {
    content: "\e91d";
}

