input[type="checkbox"],
input[type="radio"]
 {
    display: none;
}

input[type="checkbox"] + label span,
input[type="radio"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(../img/icon/unchecked.png);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: -6px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
}

input[type="checkbox"]:checked + label span,
input[type="radio"]:checked + label span {
    background-image: url(../img/icon/checked.png);
}
.editorPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11002;
    background-color: rgba(96, 92, 124, 0.96);
    color: white;
    text-align: center;
    padding-bottom: 30px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
}

.editorPopup.hided {
    opacity: 0;
    visibility: hidden;
    height: 0;
}
.editorPopup .close{
    position: absolute;
    width: 57px;
    top: 40px;
    right: 40px;
    opacity: 1;
}
#themeSelector label span {
    display: block;
    width: 100%;
    margin-bottom: 32px;
    background-image: url(../img/icon/select-empty.png);
}


#themeSelector input[type="radio"]:checked + label span {
    background-image: url(../img/icon/select-selected.png);
}
#themeReorder label span {
    background-image: url(../img/icon/reorder-unchecked.png);
    height: 26px;
    width: 26px;
    background-size: 100%;
}
#themeReorder input[type="checkbox"]:checked + label span {
    background-image: url(../img/icon/reorder-checked.png);
}
#themeReorder label{
    float: left;
    margin-left: 0;
    margin-top: 22px;
    margin-right: 10px;
}

.text-center{
    text-align: center;
}

.editorPopup .theme-option {
    margin: 0 auto;
    text-align: center;
}
.editorPopup > .title{
    font-family: Graphik-Light;
    font-size: 42px;
    line-height: 1;
    letter-spacing: 1.3px;
    margin-top: 4%;
    margin-bottom: 45px;
}
.editorPopup > .sub-title{
    font-family: Graphik-Light;
    font-size: 18px;
    margin: 0 auto;
    line-height: 0.9;
    letter-spacing: 0.6px;
    margin-bottom: 81px;
    max-width: 90%;
    line-height: 27px;
}

#themeReorder.editorPopup > .sub-title {
    margin-bottom: 38px;
}
@font-face {
    font-family: 'Graphik-Medium';
    src: url('Graphik-Medium.otf');
}
.editorPopup .name {
    text-transform: capitalize;
    display: block;
    margin: 38px 0;
    font-family: Graphik-Medium, sans-serif;
    font-size: 18px;
    line-height: 0.9;
    letter-spacing: 0.6px;
}

.editorPopup .preview {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    width: 280.8px;
    cursor: pointer;
}

.editorPopup label {
    font-family: Graphik-Medium, sans-serif;
    font-size: 10px;
    line-height: 1.6;
    letter-spacing: 2.6px;
    text-align: center;
}

#editTools {
    position: fixed;
    left: 10px;
    top: 50%;
    margin-top: -108px;
    z-index: 11001;
}

#editTools .picker {
    position: absolute;
    left: 60px;
    background-color: white;
    top: 0;
    width: 250px;
    height: auto;
    display: none;
    padding: 20px;
}

#editTools .picker.font {
    text-align: left;
}

#editTools .picker.font .divider {
    padding: 10px 0;
}

#editTools .picker h5 {
    /* Feature/Background c: */
    font-family: Graphik-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.43px;
    line-height: 16px;
    text-transform: initial;
}

#editTools .picker select {
    font-size: 20px;
    width: 100%;
    color: black;
}

#editTools .picker h4 {
    color: black;
    text-transform: initial;
}

#font-preview-big {
    font-size: 26px;
    font-family: PlayfairDisplay-Regular;
}

#editTools .picker span {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    float: left;
    background-color: #CECECE;
    margin-top: 5px;
    margin-left: 8px;
    border: 1px solid grey;
}

#editTools .picker .group {
    width: 60px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    clear: both;
    float: none;
}

#editTools .picker .group.selected .feature-color:after {
    content: "";
    width: 16px;
    height: 12px;
    background: url(../img/icon/check.png) no-repeat center;
    background-size: contain;
    position: absolute;
    z-index: 3;
    left: 6px;
    top: 8px;
}

#editTools .picker .feature-color {
    position: relative;
    z-index: 2;
}

#editTools .picker .feature-bg {
    margin-left: -12px;
}

#editTools .picker .left {
    width: 50%;
    height: 100%;
}

#editTools .picker .right {
    width: 50%;
    height: 100%;
}

#editTools > ul {
    height: 282px;
    background: #33B0E9;
    border-radius: 6px;
    width: 60px;
}

#editTools > ul li {
    color: white;
    text-align: center;
    height: 65px;
    font-family: Graphik-Medium, sans-serif;
    font-size: 9px;
    letter-spacing: 1.12px;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0.29);
    cursor: pointer;
    padding-top: 10px;
    position: relative;
}

#editTools>ul li:hover .picker {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18);
}

#editTools li:hover {
    background: #0596D8;
}

#editTools ul.picker li:hover {
    color: white;
}

#editTools li .icon {
    display: block;
    margin: 10px auto;
    margin-top: 0;
    height: 23px;
}

#editTools > ul > li:first-child {
    height: 23px;
    font-size: 10px;
    line-height: 23px;
    background: #605C7C;
    border-radius: 5px 5px 0 0;
    border: none;
    padding: 0;
    color: white;
}

#editTools ul.picker li:first-child {
    padding-top: 0;
}

#editTools ul li:last-child {
    border: none;
}

#editTools ul li:last-child:hover {
    border-radius: 0 0 6px 6px;
}

/* #themeReorder */
#reorderSections{
    width: 630px;
    margin: 0 auto;
}
#reorderSections li{
    border: 1px solid white;
    border-radius: 4px;
    height: 60px;
    margin-bottom: 5px;
    line-height: 60px;
    padding-left: 24px;
}
#reorderSections li.ui-sortable-helper{
    background: white;
    color: black;
}
#reorderSections li.fixed img{
    width: 12px;
    float: right;
    margin-top: 21px;
    margin-right: 15px;
}
#reorderSections .title{
    font-family: Graphik-Regular;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.5px;
    float: left;
    line-height: 60px;
}

#reorderSections .trigger {
    width: 10.7px;
    height: 30.3px;
    float: right;
    margin: 15px;
    background-image: url(../img/icon/reorder.png);
    background-size: 100%;
    background-position: center;
}
#reorderSections li.ui-sortable-helper .trigger{
    background-image: url(../img/icon/reorder-dark.png);
}
#reorderSections li .fixed-text{
    float: right;
    margin-right: 16px;
}

.flex-center {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.flex-center-x {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
}

.flex-center-y {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    position: absolute;
}
