@media screen and (max-width: 768px) {
    #themeSelector .close {
    	top: 10px;
    	right: 10px;
    	width: 40px;
	}
}
@media screen and (max-width: 568px) {
    #themeSelector > .title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    #themeSelector .close {
        width: 30px;
    }
    #themeSelector > .sub-title {
        font-size: 14px;
        margin-bottom: 40px;
    }
}
