<!-- #agent -->
<section id="agent" class="clearfix">
    <h2 class="section-title font-big">Selling Agent</h2>
    <img src="assets/stream/img/agent-avatar.png" alt="MICHEAL PASCOE" class="avatar">
    <div class="col-md-6 col-md-offset-3">
        <h4 class="name">Micheal Pascoe</h4>
        <ul class="contact clearfix">
            <li class="video" data-toggle="modal" data-target="#profileVideoModal"><span class="icon icon-play"></span>Video Profile</li>
            <li class="phone"><a href="tel:0412345678"><span class="icon icon-phone"></span>0412 345...</a></li>
            <li class="email"><a href="mailto:email@domain.com"><span class="icon icon-email"></span>Email Michael</a></li>
        </ul>
        <h4 class="quote font-big">“It makes me proud to be part of a team with such high integrity and commitment to serving our clients” —</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
    </div>
</section>
<!-- END #agent -->