<!-- #auction -->
    <section id="auction">
        <div class="clearfix">
            <div class="col-md-6 col-md-offset-3">
                <div class="have-theme-color">
                    <h2 class="section-title font-big">Inspections & Auction</h2>
                    <p>Private appointments and inspections can be made by contacting us at the agency directly and we can organise a time that suits. Otherwise our open inspections are as follows</p>
                </div>
                <table class="table font-small">
                    <tbody>
                        <tr>
                            <td><a href="#"><span>SATURDAY</span> 30th January</a></td>
                            <td><a href="#">12-12:30PM</a></td>
                            <td></td>
                            <td>
                                <div class="add-btn">
                                    <span class="icon icon-calendar"></span><span class="font-small label">add</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#"><span>SATURDAY</span> 7th February</a></td>
                            <td><a href="#">12-12:30PM</a></td>
                            <td></td>
                            <td>
                                <div class="add-btn">
                                    <span class="icon icon-calendar"></span><span class="font-small label">add</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#"><span>SATURDAY</span> 14th February</a></td>
                            <td><a href="#">12-12:30PM</a></td>
                            <td></td>
                            <td>
                                <div class="add-btn">
                                    <span class="icon icon-calendar"></span><span class="font-small label">add</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#"><span>SATURDAY</span> 21st February</a></td>
                            <td><a href="#">12-12:30PM</a></td>
                            <td>
                                <h3 class="auction">AUCTION</h3></td>
                            <td>
                                <div class="add-btn">
                                    <span class="icon icon-calendar"></span><span class="font-small label">add</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- END #auction -->