<!-- #features -->
<section id="features" class="clearfix">
    
    <div class="col-md-2 col-sm-2" ng-if="!vm.featureMustReArrange">
        <ul class="sidebar left font-small">
            <li class="clearfix">
                <i class="icon icon-ruler"></i>
                <div>
                    <h5 class="title">LAND SIZE</h5>
                    <strong class="value">592 sqm (approx)</strong>
                </div>
            </li>
            <li class="clearfix">
                <i class="icon icon-waterdrop"></i>
                <div>
                    <h5 class="title">WATER RATES</h5>
                    <strong class="value">$940 P.A.</strong></div>
            </li>
            <li class="clearfix">
                <i class="icon icon-council"></i>
                <div>
                    <h5 class="title">COUNCIL RATES</h5>
                    <strong class="value">$2,012 PA.</strong></div>
            </li>
        </ul>
    </div>
    <div class="col-md-8 col-sm-8 main">
        <h2 class="section-title font-big">Details</h2>
        <h4 class="sub-small-title">Auction, price guide</h4>
        <h3 class="sub-title">$1,850,000-$2,035,000</h3>
        <h4 class="sub-small-title">Saturday 4 June at 1.30pm - On Site</h4>
        <div class="video-section" data-toggle="modal" data-target="#videoModal">
            <span class="icon icon-play"></span>
            <h3 class="font-small">PLAY VIDEO</h3>
        </div>
        <h4 class="sub-title second">5 Armagh Parade, Thirroul NSW 2515</h4>
        <p>
            Presented as new, this stylish architecturally designed home resides in a private and calming location yet a convenient walk to Thirroul's village. With a spacious single level floorplan and modern finishes suiting a variety of lifestyles.
        </p>
        <ul class="flex-center-x font-small">
            <li>- North facing aspect, leafy escarpment views and ocean glimpse</li>
            <li>- Spacious interiors are enhanced by beautiful timber floorboards</li>
            <li>- Open flowing living, dining, kitchen plus separate formal lounge </li>
            <li>- The wrap around entertaining veranda is bathed in northern sun</li>
            <li>- Contemporary stone kitchen fitted with stainless steel appliances </li>
            <li>- Two bedrooms with built-ins, master with ensuite and walk-in robe </li>
            <li>- Features include air conditioning, gas heating, alarm system </li>
            <li>- Oversized double garage, additional workshop space and storage </li>
            <li>- Beautifully maintained gardens behind private security gate</li>
            <li>- Easy stroll to Thirroul's amenities including cafes and transport</li>
        </ul>
        <div class="house-feature">
            <h4>House Features</h4>
            <div class="clearfix font-small">
                <ul class="col-md-6 col-sm-6">
                    <li>Ocean views</li>
                    <li>Full Miele Appliances</li>
                    <li>Induction cooking</li>
                </ul>
                <ul class="col-md-6 col-sm-6">
                    <li>Built-in Wardrobes</li>
                    <li>Dishwasher</li>
                    <li>Ducted vacuuming</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-2" ng-if="vm.featureMustReArrange">
        <ul class="sidebar left font-small">
            <li class="clearfix">
                <i class="icon icon-ruler"></i>
                <div>
                    <h5 class="title">LAND SIZE</h5>
                    <strong class="value">592 sqm (approx)</strong>
                </div>
            </li>
            <li class="clearfix">
                <i class="icon icon-waterdrop"></i>
                <div>
                    <h5 class="title">WATER RATES</h5>
                    <strong class="value">$940 P.A.</strong></div>
            </li>
            <li class="clearfix">
                <i class="icon icon-council"></i>
                <div>
                    <h5 class="title">COUNCIL RATES</h5>
                    <strong class="value">$2,012 PA.</strong></div>
            </li>
        </ul>
    </div>
    <div class="col-md-2 col-sm-2">
        <ul class="sidebar right font-small">
            <li data-toggle="modal" data-target="#viewFloorplansModal" class="clearfix">
                <i class="icon icon-floorplans"></i>
                <h5 class="title">VIEW <br> FLOORPLANS</h5>
            </li>
            <li class="clearfix">
                <i class="icon icon-document"></i>
                <h5 class="title">PRINT PROPERTY <br>BROCHURE</h5>
            </li>
            <li class="clearfix">
                <i class="icon icon-email"></i>
                <h5 class="title">EMAIL YOURSELF <br>OR A FRIEND</h5>
            </li>
        </ul>
    </div>
</section>
<!-- END #features -->
