<!-- #gallery -->
<section id="gallery" class="clearfix page">
    <div id="carousel" class="slide">
        <!-- Wrapper for slides -->
        <div class="royalSlider contentSlider rsDefault" rslider>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-01.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-02.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-03.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-04.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-05.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-06.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-07.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-08.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-09.jpg');"></li>
            <li class="item" style="background-image: url('assets/stream/img/gallery/Slideshow-10.jpg');"></li>
        </div>
        <!-- Controls -->
        <span role="button" data-slide="prev" class="icon icon-arrowleft" id="gallery-prev" ng-click="vm.gallerySliderPrev()"></span>
        <span role="button" data-slide="next" class="icon icon-arrowright" id="gallery-next" ng-click="vm.gallerySliderNext()"></span>
    </div>
</section>
<!-- END #gallery -->