<!-- #location -->
<section id="location" class="clearfix page">
    <div id="map"></div>
    <div class="content clearfix">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="section-title font-big">Location</h2>
            <ul class="location-features clearfix">
                <li><span class="icon icon-book"></span>
                    <div>NEAREST SCHOOLS
                        <br><strong>$940 P.A.</strong></div>
                </li>
                <li><span class="icon icon-shop"></span>
                    <div>SHOPS
                        <br><strong>0.92KMS</strong></div>
                </li>
                <li><span class="icon icon-transport"></span>
                    <div>TRANSPORT
                        <br><strong>0.5KMS</strong></div>
                </li>
            </ul>
            <p>Set in the sought after location of the Northern Suburbs, this family home is situated in a quiet cul-de-sac only moments away from McCauley's beach. Shops, cafes and trains are only a short walk away. Live the lifestyle in the seaside village of Thirroul with easy access to Sydney.</p>
        </div>
    </div>
</section>
<!-- END #location -->
<div id="location-detail">
    <div class="container">
        <h3 class="font-big">Thirroul, New South Wales 2515</h3>
        <div id="video-carousel" class="">
            <div class="royalSlider contentSlider rsDefault" rslider>
                <div class="rsTextSlide">
                    <img class="rsImg" src="assets/stream/img/thirroul_900x500.jpg" data-rsVideo="https://www.youtube.com/watch?v=FS7K8EcvU4w" alt="Caption image under video" />
                </div>
                <div class="rsTextSlide">
                    <img class="rsImg" src="assets/stream/img/thirroul_900x500.jpg" data-rsVideo="https://www.youtube.com/watch?v=HHP5MKgK0o8" alt="Lorem ipsum dolor sit amet" />
                </div>
            </div>
            <!-- Controls -->
            <div class="control">
                <span class="icon icon-arrowleft" ng-click="vm.videoSliderPrev()"></span>
                <span class="icon icon-arrowright" ng-click="vm.videoSliderNext()"></span>
            </div>
        </div>
        <div class="clearfix"></div>
        <h3 class="font-big">The Jewel of the South Coast lorum ipsum <br>dolar amet colour return allevium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="row features">
            <div class="col-md-4">
                <div class="item">
                    <i class="icon icon-coffee"></i>
                    <h4>Lifestyle</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <i class="icon icon-people"></i>
                    <h4>People</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="item">
                    <i class="icon icon-amenities"></i>
                    <h4>Amenities</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
                </div>
            </div>
        </div>
        <div class="house">
            <h3 class="font-big">Median Area Prices</h3>
            <i class="icon icon-house"></i>
            <h4>Houses</h4>
            <ul class="clearfix">
                <li>
                    <span>BUY</span>
                    <strong>$600,000</strong>
                </li>
                <li>
                    <span>RENT</span>
                    <strong>$420p/w</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
