body,
html {
    padding: 0;
    margin: 0;
}

.rsDefault .rsPlayBtn {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    cursor: pointer;
    /* border-radius: 50%; */
    /* border: 2px solid; */
    color: #fff;
    line-height: 100px;
}

.rsDefault .rsBtnCenterer {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
}

#gallery-1 .item {
    position: relative;
    margin: 0 auto;
    display: block;
    width: calc(100% - 60px);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gallery-1 .item .rsImg {
    display: none;
}

#gallery-1 .item .rsVideoContainer,
#gallery-1 .item .rsVideoFrameHolder.rsVideoActive {
    width: 100%!important;
    height: 100%!important;
}

#gallery-1 .item .rsVideoContainer {
    margin: 0 !important;
}

#gallery-1 .rsPlayBtnIcon:before {
    content: "\e918";
}

#gallery-1 .rsPlayBtnIcon {
    font-family: 'classica' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 100px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 100px;
    padding-left: 10px;
}

.rsDefault .rsCloseVideoBtn {
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    z-index: 500;
    position: absolute;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

.rsDefault .rsCloseVideoBtn.rsiOSBtn {
    top: -38px;
    right: -6px;
}

.rsDefault .rsCloseVideoIcn {
    margin: 6px;
    width: 32px;
    height: 32px;
    background: url('../../main/img/rs-default.png') -64px 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
    *background-color: #000;
}

.rsDefault .rsCloseVideoIcn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-backdrop {
    background-color: white;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-body {
    position: relative;
}

@media (min-width: 769px) {
    .modal-dialog {
        width: 900px;
    }
}

button {
    border: none;
    outline: none;
}

#registerMyInterestModal .title {
    font-family: PlayfairDisplay-Regular;
    font-size: 48px;
    color: #1C1C1C;
    letter-spacing: 2.25px;
    line-height: 78px;
    text-align: center;
}

#registerMyInterestModal label {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.16px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 27px;
}

#registerMyInterestModal .modal-body {
    padding: 30px;
}

.modal-body .close {
    position: absolute;
    right: -20px;
    top: -20px;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 62px;
    height: 62px;
    /* background-color: black; */
}

#registerMyInterestModal button {
    background: #000000;
    font-family: Lato-Bold;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 3.5px;
    line-height: 20px;
    width: 270px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

#registerMyInterestModal input,
#registerMyInterestModal textarea {
    background: rgba(226, 226, 226, 0.15);
    border: 1px solid #9B9B9B;
    width: 100%;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #000000;
    letter-spacing: 1.08px;
    line-height: 20px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}

a,
a:hover,
a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.mfp-bg {
    background: white;
    opacity: 1;
}

.parallax {
    min-height: 400px;
    background: transparent;
}

.hr {
    border: 1px solid #FFFFFF;
    width: 62px;
    display: block;
    margin: 25px auto;
    border-color: inherit;
}

.section-title {
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 64px;
    letter-spacing: 3px;
    text-align: center;
    margin: 0;
}

.welcome h3,
.feature-list .name,
.label,
#agent .name {
    text-transform: uppercase;
}

.label {
    display: block;
    white-space: normal;
    color: black;
}

.humburger {
    width: 27px;
    position: absolute;
    top: 32px;
    left: 42.5px;
    z-index: 12;
    cursor: pointer;
    color: white;
}

.humburger-text {
    position: absolute;
    top: 32.5px;
    left: 92.5px;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 3.5px;
    color: #ffffff;
    z-index: 12;
    cursor: pointer;
}

nav {
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
}

nav ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto;
}

nav li a {
    font-family: PlayfairDisplay;
    font-size: 28px;
    line-height: 2.1;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
}

nav li a:focus {
    color: inherit;
}

nav li.last a {
    margin-right: 0;
}

nav li a.logo {
    font-size: 24px;
    color: inherit;
    line-height: 85px;
    position: absolute;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    left: 50%;
    font-family: 'PlayfairDisplay-Bold';
    font-size: 24px;
    text-transform: initial;
}

#secondary-nav.sticky {
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
}

nav#secondary-nav .header-links {
    width: auto;
}

#secondary-nav .header-links li {
    color: black;
}

#secondary-nav .humburger,
#secondary-nav .humburger-text {
    color: black;
}

.humburger {
    font-size: 18px;
}

#home .tint {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#home nav li a.logo {
    color: white;
}

nav li a.logo:hover {
    border: none;
}

nav li a.active,
nav li a:hover {
    border-bottom: 2px solid white;
    color: inherit;
    border-color: inherit;
}

#home nav li a.active,
#home nav li a:hover {
    color: white;
    border-color: white;
}

nav .register {
    font-size: 10px;
    letter-spacing: 3.5px;
    line-height: 20px;
    border: 1px solid #FFFFFF;
    padding: 6px 20px;
    position: absolute;
    left: 50%;
    color: inherit;
    top: 45px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    cursor: pointer;
    border-color: inherit;
    white-space: nowrap;
}

#mobile-nav li {
    list-style: none;
}

#mobile-nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
}

.header-links {
    position: absolute;
    right: 30px;
    z-index: 999999;
    top: 32px;
    left: auto;
}

.header-links li {
    color: white;
    font-family: Karla-Regular;
    font-size: 10px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 2.9px;
    color: #ffffff;
    float: left;
    cursor: pointer;
}

.header-links li:first-child {
    margin-right: 42px;
    position: relative;
}

.header-links li:first-child:after {
    content: "";
    height: 30px;
    width: 1px;
    background: white;
    position: absolute;
    right: -20px;
    top: -6px;
}

.header-links li i {
    margin-right: 10px;
    font-size: 12px;
}

#mobile-nav .close {
    color: white;
    text-shadow: none;
}

.close-wrap .close {
    position: absolute;
    top: 27.5px;
    left: 42.5px;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 27px;
    z-index: 100;
    text-shadow: none;
}

.close-wrap .close.text {
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 3.5px;
    color: #ffffff;
    text-shadow: none;
    left: 92.5px;
    top: 29px;
}

.modal-content .close.text,
.mfp-container .close.text {
    color: black;
}

#mobile-nav > ul {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#mobile-nav .hr {
    border-color: white;
    margin: 10px auto;
    margin-bottom: 27px;
}

#mobile-nav .avatar {
    width: 45px;
    display: block;
    margin: 0 auto;
}

#mobile-nav .name {
    color: white;
    text-align: center;
    /* MICHEAL PASCOE: */
    font-family: Lato-Regular;
    color: #FFFFFF;
    letter-spacing: 2.73px;
    font-size: 14px;
}

#mobile-nav .register {
    position: relative;
    color: white;
    top: 0;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 8px;
}

#mobile-nav .lang {
    position: absolute;
    bottom: 4.7%;
    font-size: 14px;
    line-height: 1.3;
    color: #9b9b9b;
    font-family: 'Karla-Regular';
    font-weight: 100;
}

#mobile-nav .lang span {}

#mobile-nav .lang .active {
    color: white;
}

#mobile-nav li a {
    color: white;
    width: 100%;
    display: block;
    float: none;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 28px;
    line-height: 2.1;
    letter-spacing: 4px;
    text-align: center;
    border-bottom: none;
}

#mobile-nav li a.active,
#mobile-nav li a:hover {
    border: none;
}

#mobile-nav li a.logo {
    position: relative;
    font-size: 18px;
}


/*home*/

.fullscreen-modal .modal-body {
    position: absolute;
}

.modal-content .closeit {
    background: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 11;
}

.fullscreen-modal .sub-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fullscreen-modal .modal-dialog {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.fullscreen-modal .modal-content {
    width: 100%;
    min-height: 100%;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: none;
}

.fullscreen-modal {
    background: white;
}

.modal-content iframe {
    width: 850px;
    height: 480px;
}

.modal-body .caption {
    text-align: center;
    display: block;
    margin: 10px 0;
    color: #000;
}

#home {
    /* height: 100%; */
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
    background-position: center;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.welcome .time {
    /* SATURDAY 21st Februa: */
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 33px;
    font-weight: 200;
    margin-bottom: 100px;
    display: block;
}

.welcome h1 {
    font-family: PlayfairDisplay-Regular, serif;
    font-size: 78px;
    letter-spacing: 2.33px;
    line-height: 80px;
    margin: 0;
}

.welcome h3 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 0;
    font-weight: 300;
    margin-bottom: 35px;
}

.welcome .presented {
    font-family: Karla-Regular;
    font-size: 10px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 5px;
    color: #ffffff;
    display: block;
    margin: 2% auto;
}

.welcome .clc-play {
    font-size: 100px;
    cursor: pointer;
    display: block;
    margin-top: 4%;
}

.welcome .play-text {
    text-align: center;
    display: block;
    font-family: Karla-Regular;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    color: #ffffff;
    margin: 6% auto;
}

.feature-list .bedroom {
    background-image: url('../img/icon/bedroom.png');
}

.feature-list .bathroom {
    background-image: url('../img/icon/bathroom.png');
}

.feature-list .parking {
    background-image: url('../img/icon/parking.png');
}

#vtours {
    padding-top: 100px;
}

#vtours .section-title {
    font-size: 48px;
}

#vtours .hr {
    margin-bottom: 40px;
}

#vtours iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#features {
    position: relative;
    padding-top: 160px;
}

#features p.more {
    height: 200px;
    overflow: hidden;
}

#features .auction span {
    font-family: Karla-Regular;
    font-size: 14px;
    line-height: 2.4;
    letter-spacing: 1.2px;
    /* color: #000000; */
    display: block;
    text-align: center;
}

#features .auction .big {
    font-family: Karla-Regular;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 2.4px;
    text-align: center;
    /* color: #000000; */
}

#features .hr {
    margin: 40px auto;
}

#features .readmore-cover {
    height: 68px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.0), #ffffff);
    display: block;
    margin-top: -68px;
    width: 100%;
    position: relative;
    z-index: 2;
}

#features .readmore {
    position: relative;
    display: block;
    width: 240px;
    font-family: Karla-Regular;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 7px;
    text-align: center;
    color: #000000;
    line-height: 45px;
    height: 50px;
    margin: 0 auto;
    background: transparent;
    border: 1px solid;
    margin-top: 15px;
}

#features .readmore.less {
    margin-top: 100px;
}

#features .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#features .features-list li {
    list-style: disc;
}

#features .feature-items {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#features .feature-items span {
    font-family: Karla-Regular;
    font-size: 13px;
    font-weight: 200;
    line-height: 1.7;
    letter-spacing: 2.6px;
    text-align: center;
    display: block;
}

#features .feature-items strong {
    text-align: center;
    display: block;
}

#features .feature-items .icon {
    display: block;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.content ul,
p {
    font-family: Lato-Regular;
    font-size: 14px;
    letter-spacing: 1.2px;
    line-height: 33px;
}

.content h3 {
    font-family: PlayfairDisplay-Regular;
    font-size: 24px;
    line-height: 1.8;
    letter-spacing: 2px;
    text-align: center;
    color: #1c1c1c;
}

.feature-list {
    width: 482px;
    margin: 0 auto;
    height: 80px;
}

#home .feature-list {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.scroll-explore {
    position: absolute;
    bottom: 30px;
}

.scroll-explore .label {
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 6px;
    line-height: 15px;
    font-weight: 200;
    margin-bottom: 30px;
    display: block;
    white-space: nowrap;
}

.scroll-explore .icon {
    width: 20px;
    margin: 0 auto;
    display: block;
    margin-top: 18px;
}

.scroll-explore > a {
    background: black;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.feature-list li {
    float: left;
    border-left: 0.5px solid #fff;
    width: 33.33333333%;
    height: 100%;
    position: relative;
    border-color: inherit;
}

.feature-list .icon {
    /* height: 24px; */
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    /* width: 45px; */
    font-size: 40px;
    text-align: center;
}

.feature-list li:last-child {
    border-right: 1px solid white;
    border-color: inherit;
}

.feature-list .name {
    /* 3 BEDROOM: */
    font-size: 10px;
    letter-spacing: 4.16px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    text-align: center;
}

.actions {
    position: relative;
    left: 50%;
    width: 50%;
    margin-top: 80px;
}

.actions .label {
    /* VIEW FLOORPLANS: */
    font-size: 12px;
    letter-spacing: 1.79px;
    line-height: 16px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
}

.actions .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.actions li:nth-child(1) .icon {
    background-image: url('../img/icon/floorplans.png');
}

.actions li:nth-child(2) .icon {
    background-image: url('../img/icon/print.png');
}

.actions li:nth-child(3) .icon {
    background-image: url('../img/icon/email.png');
}

#gallery,
#auction,
#contact,
#agent {
    padding: 100px 0;
}

#gallery {
    padding-bottom: 0;
    margin-top: 100px;
    padding-top: 0;
    position: relative;
}

#gallery .section-title,
#gallery .hr {
    position: absolute;
    z-index: 1;
    transition: all 0.5s;
    opacity: 1;
}

#gallery .section-title.fade,
#gallery .hr.fade {
    opacity: 0;
}

#gallery .hr {
    top: 108px;
}

#gallery .section-title {
    top: 40px;
}

#gallery .btn-round {
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: 65px;
    opacity: 0.7;
    z-index: 11;
}

#gallery .btn-round a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#gallery .btn-round.active {
    opacity: 1;
}

#gallery .clc-picture {
    left: 50%;
    margin-left: -64px;
}

#gallery .clc-camera {
    left: 50%;
    margin-left: 4px;
}

#gallery-nav {
    margin: 0 auto;
    /* margin-top: 30px; */
    position: absolute;
    display: inline-block;
    bottom: 20px;
    width: 230px;
}

#gallery-nav .next,
#gallery-nav .prev {
    display: inline-block;
    /* background-image: url(../img/icon/arrow-black.png); */
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 30px;
    background-size: contain;
    cursor: pointer;
    float: left;
    font-size: 29px;
}

#gallery-nav .next {
    float: right;
}

#gallery-nav .count {
    /* 1/15: */
    font-family: PlayfairDisplay-Regular;
    font-size: 28px;
    letter-spacing: 1.31px;
    line-height: 23px;
    margin: 0 70px;
}

#gallery-1 {
    width: 100%;
    height: 100vh;
}

#gallery-1 .rsSlide {
    background: transparent;
}

#gallery-1 .slideItem {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.visibleNearby {
    width: 100%;
    background: transparent;
    color: #FFF;
    padding-top: 25px;
}

.visibleNearby img {
    -webkit-backface-visibility: hidden;
}

.visibleNearby .rsGCaption {
    font-size: 16px;
    line-height: 18px;
    padding: 12px 0 16px;
    background: transparent;
    width: 100%;
    position: static;
    float: left;
    left: auto;
    bottom: auto;
    text-align: center;
}

.royalSlider > .rsImg {
    visibility: hidden;
}

.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
    background: transparent;
}


/* Scaling transforms */

.visibleNearby .rsSlide img {
    opacity: 0.45;
    filter: alpha(opacity=45);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.visibleNearby .rsActiveSlide img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* Non-linear resizing on smaller screens */

@media screen and (min-width: 0px) and (max-width: 900px) {
    #gallery-1 {
        padding: 12px 0 12px;
    }
    #gallery-1 .rsOverflow,
    .royalSlider#gallery-1 {
        height: 400px !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    #gallery-1 .rsOverflow,
    .royalSlider#gallery-1 {
        /* height: 230px !important; */
    }
}

#lifestyle {
    background: #F7F7F7;
    padding-top: 150px;
}

#lifestyle .features {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 50px;
}

#lifestyle .features li {}

#lifestyle .features li .quote {
    font-family: PlayfairDisplay-Regular;
    font-size: 20px;
    letter-spacing: 1.7px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 25px;
}

#lifestyle .features li .icon-title {
    font-family: Karla-Regular;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1.7px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

#lifestyle .features li i {
    font-size: 35px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: white;
    background-color: black;
    display: block;
    margin: 30px auto;
    border-radius: 50%;
}
#lifestyle .features li p {
    text-align: center;
    padding-bottom: 65px;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 33px;
}
#lifestyle .suburb {
    color: #ffffff;
    width: 354px;
    height: 354px;
    background-color: #000000;
    border-radius: 50%;
    position: relative;
    margin-bottom: -177px;
    margin-top: 150px;
}

#lifestyle .suburb .inner {
    position: absolute;
}

#lifestyle .suburb * {
    display: block;
    text-align: center;
}

#lifestyle .suburb p {
    font-family: Karla-Regular;
    font-size: 12px;
    line-height: 2.8;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 27px;
}

#lifestyle .suburb .title {
    font-family: Karla-Regular;
    font-size: 16px;
    font-weight: bold;
    line-height: 2.1;
    letter-spacing: 1.4px;
    text-align: center;
}

#lifestyle .suburb .clc-house {
    font-size: 30px;
}

#lifestyle .suburb hr {
    width: 160px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 22px auto;
}

#lifestyle .suburb .buy {
    font-family: Karla-Regular;
    letter-spacing: 2.2px;
    text-align: center;
    font-size: 12px;
}

#lifestyle .suburb .price {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.6px;
}

#lifestyle .gallery-preview .title {
    font-family: Karla-Regular;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 6px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    bottom: -40px;
    white-space: nowrap;
}

#lifestyle .gallery-preview {
    width: 902px;
    height: 563.8px;
    margin: 50px auto;
    position: relative;
    max-width: 100%;
}

#lifestyle .gallery-preview .launch {
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    opacity: .9;
}

#lifestyle .gallery-preview i {
    font-size: 32px;
    color: white;
    position: absolute;
    left: 15px;
}

#lifestyle .gallery-preview .clc-picture {
    right: 15px;
    left: auto;
}

#lifestyle .gallery-preview .split {
    width: 1px;
    height: 61px;
    background-color: white;
    position: absolute;
}

#lifestyle h2 {
    font-family: PlayfairDisplay-Regular;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 2.4px;
    text-align: center;
    color: #1c1c1c;
}

#lifestyle h3 {
    font-family: PlayfairDisplay-Regular;
    font-size: 24px;
    line-height: 1.8;
    letter-spacing: 2px;
    text-align: center;
    color: #1c1c1c;
}

#location {
    padding-bottom: 160px;
    padding-top: 110px;
}

#location .section-title {
    margin-top: 40px;
}

#location .hr {
    margin-bottom: 80px;
}

#location .actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    left: 0;
}

#location .actions li {
    width: 33.33333333%;
}

#location .actions .icon {
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 80px;
    background: none;
}

#video-carousel {
    margin: 0 auto;
    /* margin-top: 40px; */
    width: 902px;
    /* margin-bottom: 45px; */
    position: relative;
    min-height: 500px;
}

#video-carousel .royalSlider {
    width: 100%;
}

.mapwrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
}

#map2 {
    height: 540px;
    width: 860px;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.mapwrapper .label {
    font-size: 12px;
    letter-spacing: 1.79px;
    line-height: 16px;
    font-weight: 200;
    color: inherit;
}

.mapwrapper.full .label {
    display: none;
}

.mapwrapper .icon {
    width: 80px;
    height: 80px;
    background-image: url(../img/icon/plus.png);
    background-size: 30px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -41px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 2px solid; */
    border-radius: 50%;
}

.mapwrapper.full .icon {
    background-image: url(../img/icon/close.png);
    position: absolute;
    bottom: -26px;
    margin: 0;
    left: 50%;
    margin-left: -40px;
}

#back2Top {
    margin-top: 70px;
    /* display: block; */
    /* margin: 0 auto; */
}

#back2Top i {
    display: block;
    margin: 0 auto;
    width: 47px;
    height: 47px;
    background-color: white;
    text-align: center;
    line-height: 47px;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 17px;
}

#back2Top span {
    font-family: Karla-Regular;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

#map {
    width: 100%;
    height: 100%;
}

#map > div,
#map > div > div {
    border-radius: 50%;
}

.mapwrapper.full {
    display: none;
}

#auction {
    text-align: center;
    /* background: #F7F7F7; */
    padding-top: 300px;
}

#auction .content {
    color: black;
}

#auction .sub-title {
    font-family: PlayfairDisplay-Regular;
    font-size: 32px;
    letter-spacing: 1.5px;
    line-height: 78px;
}

#auction ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 3%;
}

#auction ul li {
    width: 170px;
    height: 170px;
    background-color: black;
    position: relative;
    border-radius: 50%;
    color: white;
    font-family: Lato;
    font-size: 12px;
    /* line-height: 1.2; */
    letter-spacing: 1.5px;
    color: #ffffff;
    padding-top: 25px;
}

#auction ul li.active {
    background: transparent;
    border: 1px solid black;
    color: black;
}

#auction ul li span {
    display: block;
    line-height: 25px;
}

#auction ul li strong {
    font-weight: 900;
    line-height: 25px;
}

#auction ul li .date {
    font-size: 28px;
    letter-spacing: 3.5px;
}

#auction ul li i {
    font-size: 20px;
    position: absolute;
    bottom: 14px;
    width: 100%;
    text-align: center;
    left: 0;
}

#auction ul li button {
    width: 145px;
    height: 39px;
    border-radius: 99px;
    background-color: #000000;
    color: white;
    position: absolute;
    bottom: -55px;
    left: 50%;
    margin-left: -72.5px;
    padding: 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 3px;
    text-shadow: none;
}

#auction .table {
    margin: 0 auto;
    width: 668px;
}

#auction .table td {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #273038;
    letter-spacing: 2px;
    font-weight: 200;
    vertical-align: middle;
}

#auction .table tr {
    height: 90px;
}

#auction .table tr:hover {
    background: #E2E2E2;
    cursor: pointer;
}

#auction .table .icon {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#agent {
    background-color: black;
    padding-bottom: 200px;
    padding-top: 140px;
}

#agent ul {
    /* display: flex; */
    /* justify-content: space-around; */
    position: relative;
}

#agent ul li {
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Karla-Regular;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.5px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    float: left;
}

#agent ul li.first {
    float: right;
}

#agent ul li:after {
    content: "";
    width: 100%;
    height: 168px;
    opacity: 0.66;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), #000000);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
    z-index: 1;
    display: block;
    bottom: 0;
    position: absolute;
}

#agent .name {
    bottom: 55px;
}

#agent .about {
    font-size: 12px;
    font-weight: 100;
}

#agent ul span {
    display: block;
    position: absolute;
    bottom: 34px;
    left: 0;
    z-index: 2;
    width: 100%;
}

#agent .hr {
    margin: 50px auto;
}

.slidein-panel {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.slidein-panel.in {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    z-index: 10;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.slidein-panel .bdrop {
    background-color: rgba(51, 51, 51, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.slidein-panel.in .inner {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 0;
}

.slidein-panel.in .bdrop {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.slidein-panel .inner {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 600px;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: white;
    -webkit-transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    z-index: 2;
}

.slidein-panel .content {
    padding: 10px 57px;
}

.slidein-panel .clc-close {
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
    z-index: 99;
}

.slidein-panel .avatar {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.slidein-panel .avatar:after {
    content: "";
    width: 100%;
    height: 168px;
    opacity: 0.66;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), #000000);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000);
    z-index: 1;
    display: block;
    bottom: 0;
    position: absolute;
}

.slidein-panel .name {
    font-family: Lato;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 4.3px;
    color: white;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 2;
}

.slidein-panel .contact {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.slidein-panel .contact li {
    width: 50px;
    height: 50px;
    background-color: black;
    text-align: center;
    line-height: 54px;
    font-size: 20px;
    border-radius: 50%;
}

.slidein-panel .contact li a {
    line-height: 0;
    padding-left: 4px;
}

.slidein-panel p {
    font-family: Karla-Regular;
    font-size: 14px;
    line-height: 2.4;
    letter-spacing: 1.2px;
}

.slidein-panel .quote {
    font-family: PlayfairDisplay-Regular;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.9px;
}

.contact {
    font-family: Lato-Regular;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 33px;
    position: relative;
    display: inline-block;
}

#contact .preview-video {
    display: block;
    margin: 70px auto;
    width: 780px;
    height: 438.4px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#contact .preview-video i {
    cursor: pointer;
    font-size: 90px;
    position: absolute;
}

#contact .contact {
    /* 02 234567....: */
    font-family: Lato-Regular;
    font-size: 14px;
    letter-spacing: 0.87px;
    line-height: 24px;
}

#contact .contact li {
    margin-bottom: 18px;
}

#contact ul li i {
    font-size: 24px;
    /* margin-right: 20px; */
    float: left;
}

#contact ul.contact li i {
    margin-right: 20px;
}

#contact {
    background-color: #282828;
    color: white;
}

#contact .socials i {
    font-size: 18px;
    /* Fill 8: */
}

#contact .socials {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 70px;
}

#contact .socials ul {
    position: relative;
    display: inline-block;
}

#contact .socials h4 {
    /* CONNECT WITH US: */
    font-family: Lato-Bold;
    font-size: 14px;
    letter-spacing: 8.69px;
    line-height: 24px;
}

#contact .socials li {
    float: left;
    margin-right: 17px;
}

section#contact .logo {
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}

#viewFloorplansModal img {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#registerModal .register-my-interest {
    background-color: white;
    padding: 20px;
}

#infoModal li {
    margin-bottom: 24px;
}

#infoModal li span {
    background: black;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 17px;
    margin: 0 auto;
}

#infoModal li .item-title {
    font-family: Karla-Regular;
    font-size: 12px;
    line-height: 1.3;
    font-weight: bold;
    letter-spacing: 2.3px;
    text-align: center;
    color: #1c1c1c;
}

#infoModal .title {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 38px;
    line-height: 2.1;
    letter-spacing: 1.8px;
    text-align: center;
}

#infoModal .sub-title {
    font-family: Karla-Regular;
    font-size: 14px;
    line-height: 2.4;
    letter-spacing: 1.2px;
    text-align: center;
    color: #1c1c1c;
}

.register-my-interest button {
    background: #000000;
    font-family: Lato-Bold;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 3.5px;
    line-height: 20px;
    width: 270px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    border-radius: 4px;
}

.fullscreen-modal .title {
    font-family: PlayfairDisplay-Regular;
    font-size: 38px;
    line-height: 2.1;
    letter-spacing: 1.8px;
    text-align: center;
    color: #1c1c1c;
}

.register-my-interest input,
.register-my-interest textarea {
    background: rgba(226, 226, 226, 0.15);
    border: 1px solid #9B9B9B;
    width: 100%;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #000000;
    letter-spacing: 1.08px;
    line-height: 20px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.register-my-interest label {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.16px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 27px;
}

.register-my-interest .modal-body {
    padding: 30px;
}

.mfp-wrap *:after,
.mfp-wrap *:before,
.mfp-figure:after {
    box-shadow: none!important;
}


/*responsive*/

@media screen and (max-width: 1280px) {
    nav {
        top: 20px;
    }
    nav li a {
        margin-right: 43px;
    }
    nav li a.logo {
        /* font-size: 18px; */
    }
    .welcome {}
    .welcome .time {
        margin-bottom: 20px;
    }
    .welcome h1 {
        font-size: 56px;
    }
    .feature-list {
        /* height: 95px; */
    }
    .scroll-explore .label {
        margin-bottom: 30px;
    }
    .scroll-explore {
        bottom: 9px;
    }
    .welcome h3 {
        margin-bottom: 2px;
    }
}
