@media screen and (max-width: 1200px) {
    #primary-nav a {
        display: none;
    }
    #primary-nav a.logo,
    #primary-nav a.register {
        display: block;
    }
}


/* ----------- Tablet ----------- */


/* Portrait and Landscape */

@media only screen and (max-width: 1024px) {
    #secondary-nav.sticky .header-links {
        display: none;
    }
    .modal-content iframe {
        width: 100%;
    }
    .fullscreen-modal .modal-body {
        width: 100%;
        margin: 0 auto;
    }
    #contact p {
        text-align: center;
    }
}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #agent ul li {
        width: 300px;
        height: 300px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}


/* ----------- Mobile ----------- */


/* Portrait and Landscape */

@media screen and (max-width: 568px) {
    #map2 {
        height: 250px;
    }
    .modal-content iframe {
        width: 100%;
        height: 250px;
    }
    .close-wrap .close {
        top: 25px;
        left: 25px;
    }
    #viewFloorplansModal img {
        width: 100%;
    }
    .close-wrap .close.text {
        display: none;
    }
    #infoModal .title {
        font-size: 24px;
        line-height: 30px;
        margin-top: 42px;
    }
    #auction ul li button {
        width: 124px;
        margin-left: -62px;
        font-size: 12px;
    }
    #secondary-nav.sticky {
        height: 60px;
        line-height: 60px;
    }
    #secondary-nav.sticky .header-links {
        display: none;
    }
    .header-links li:first-child {
        margin-right: 20px;
    }
    .header-links {
        right: 9px;
        top: 25px;
    }
    .header-links li:first-child:after {
        right: -3px;
    }
    .header-links li span {
        display: none;
    }
    #gallery-nav .next,
    #gallery-nav .prev {
        font-size: 24px;
    }
    #lifestyle .gallery-preview .launch {
        width: 84px;
        height: 84px;
    }
    #lifestyle .gallery-preview i {
        font-size: 20px;
    }
    #lifestyle .gallery-preview .title {
        font-size: 8px;
        bottom: -25px;
        letter-spacing: 4px;
    }
    #lifestyle h3 {
        font-size: 18px;
    }
    #lifestyle .gallery-preview {
        width: 300px;
        height: 187.5px;
    }
    #lifestyle {
        padding-top: 60px;
    }
    #location .actions {
        display: block;
    }
    #location .actions li {
        width: 100%;
        margin-bottom: 30px;
    }
    #location .actions .icon {
        width: 50px;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
    }
    #lifestyle .features li i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
    }
    #lifestyle .features li .quote {
        text-align: center;
    }
    #lifestyle .suburb {
        margin-top: 40px;
        width: 300px;
        height: 300px;
        margin-bottom: -155px;
    }
    #lifestyle .suburb .clc-house {
        font-size: 25px;
    }
    #lifestyle .suburb .title {
        margin: 0;
    }
    #auction ul li {
        width: 124px;
        padding-top: 10px;
        height: 124px;
        float: left;
        margin-bottom: 16px;
        font-size: 8px;
    }
    #auction ul li span {
        line-height: 13px;
    }
    #auction ul {
        /* display: block; */
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
    }
    #agent ul li {
        width: 300px;
        height: 300px;
        float: none;
        margin: 0 auto;
        margin-bottom: 12px;
    }
    #agent ul li.first {
        float: none;
    }
    .slidein-panel .inner {
        width: 300px;
    }

.slidein-panel .inner .avatar {
    height: 300px;
}
    #contact .preview-video {
        width: 300px;
        height: 168.6px;
    }
    #contact .preview-video i {
        font-size: 60px;
    }
    #contact .socials {
        margin-bottom: 50px;
    }
    .feature-list .icon {
        font-size: 23px;
    }
    .humburger {
        top: 20px;
        left: 20px;
    }
    .humburger-text,
    .welcome .presented {
        display: none;
    }
    #auction ul li .date {
        font-size: 21px;
    }
    .mapwrapper .icon {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin-top: -29px;
        background-size: 20px;
    }
    #vtours iframe {
        height: 274px;
    }
    #home .feature-list {
        margin-bottom: 11%;
    }
    .welcome .clc-play {
        font-size: 60px;
    }
    #gallery .btn-round {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        bottom: 12%;
    }
    #gallery .clc-camera {
        margin-left: 0;
    }
    #gallery .clc-picture {
        margin-left: -54px;
    }
    #gallery .section-title,
    #gallery .hr {
        position: static;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    #features .actions li {
        margin-bottom: 30px;
    }
    .content h3 {
        font-size: 18px;
    }
    .scroll-explore .label {
        margin-bottom: 15px;
    }
    .scroll-explore {
        bottom: 20px;
    }
    #agent .quote {
        font-size: 18px;
        line-height: 28px;
    }
    #mapwrapper {
        width: 280px;
        height: 280px;
    }
    #location {
        padding-bottom: 50px;
    }
    .mapwrapper {
        width: 280px;
        height: 280px;
    }
    #auction .table {
        width: 100%;
    }
    #auction .table td {
        font-size: 11px;
    }
    #mapwrapper .icon {
        width: 50px;
        height: 50px;
        margin-top: -20px;
    }
    .hr {
        margin: 15px auto;
    }
    #contact,
    #agent {
        padding: 50px 0;
    }
    #gallery-nav {
        /* margin-top: 0; */
        bottom: 0;
    }
    .feature-list {
        width: 300px;
        height: 60px;
    }
    #features .feature-list {
        margin-bottom: 30px;
    }
    .actions {
        /* margin-top: 20px; */
    }
    .feature-list li {}
    .feature-list .name {
        font-size: 7px;
    }
    #features {
        padding-top: 50px;
    }
    .section-title,
    #vtours .section-title {
        font-size: 32px;
        line-height: 40px;
    }
    nav li a.logo {
        white-space: nowrap;
    }
    .welcome h1 {
        font-size: 32px;
        line-height: 45px;
        margin-bottom: 0;
    }
    .welcome h3 {
        font-size: 12px;
        margin-top: 10px;
    }
    .welcome .time {
        font-size: 10px;
    }
    .welcome {
        /* padding-top: 120px; */
        width: 300px;
    }
    nav li a.logo {
        font-size: 20px;
        line-height: 60px;
    }
}


/* Landscape */

@media only screen and (max-device-width: 667px) and (orientation: landscape) {
    #home {
        min-height: 578px;
        padding-bottom: 200px;
    }
    .welcome {
        top: 246px;
    }
    .welcome h1 {
        font-size: 39px;
    }
}
