@font-face {
    font-family: 'Arvo-Regular';
    src: url('arvo-regular-webfont.eot');
    src: url('arvo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('arvo-regular-webfont.woff2') format('woff2'), url('arvo-regular-webfont.woff') format('woff'), url('arvo-regular-webfont.ttf') format('truetype'), url('arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSerif-Regular';
    src: url('droidserif-regular-webfont.eot');
    src: url('droidserif-regular-webfont.eot?#iefix') format('embedded-opentype'), url('droidserif-regular-webfont.woff2') format('woff2'), url('droidserif-regular-webfont.woff') format('woff'), url('droidserif-regular-webfont.ttf') format('truetype'), url('droidserif-regular-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LucidaGrande-Bold';
    src: url('lucida-grande-bold.ttf');
}
@font-face {
    font-family: 'FiraSans-Regular';
    src: url('firasans-regular-webfont.eot');
    src: url('firasans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('firasans-regular-webfont.woff2') format('woff2'), url('firasans-regular-webfont.woff') format('woff'), url('firasans-regular-webfont.ttf') format('truetype'), url('firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-Regular';
    src: url('karla-regular-webfont.eot');
    src: url('karla-regular-webfont.eot?#iefix') format('embedded-opentype'), url('karla-regular-webfont.woff2') format('woff2'), url('karla-regular-webfont.woff') format('woff'), url('karla-regular-webfont.ttf') format('truetype'), url('karla-regular-webfont.svg#karlaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack';
    src: url('lato-black-webfont.eot');
    src: url('lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('lato-black-webfont.woff2') format('woff2'), url('lato-black-webfont.woff') format('woff'), url('lato-black-webfont.ttf') format('truetype'), url('lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('lato-bold-webfont.eot');
    src: url('lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('lato-bold-webfont.woff2') format('woff2'), url('lato-bold-webfont.woff') format('woff'), url('lato-bold-webfont.ttf') format('truetype'), url('lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline';
    src: url('lato-hairline-webfont.eot');
    src: url('lato-hairline-webfont.eot?#iefix') format('embedded-opentype'), url('lato-hairline-webfont.woff2') format('woff2'), url('lato-hairline-webfont.woff') format('woff'), url('lato-hairline-webfont.ttf') format('truetype'), url('lato-hairline-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.eot');
    src: url('lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('lato-light-webfont.woff2') format('woff2'), url('lato-light-webfont.woff') format('woff'), url('lato-light-webfont.ttf') format('truetype'), url('lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('lato-regular-webfont.eot');
    src: url('lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('lato-regular-webfont.woff2') format('woff2'), url('lato-regular-webfont.woff') format('woff'), url('lato-regular-webfont.ttf') format('truetype'), url('lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather-Regular';
    src: url('merriweather-regular-webfont.eot');
    src: url('merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'), url('merriweather-regular-webfont.woff2') format('woff2'), url('merriweather-regular-webfont.woff') format('woff'), url('merriweather-regular-webfont.ttf') format('truetype'), url('merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('montserrat-bold-webfont.eot');
    src: url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('montserrat-bold-webfont.woff2') format('woff2'), url('montserrat-bold-webfont.woff') format('woff'), url('montserrat-bold-webfont.ttf') format('truetype'), url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('montserrat-regular-webfont.eot');
    src: url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('montserrat-regular-webfont.woff2') format('woff2'), url('montserrat-regular-webfont.woff') format('woff'), url('montserrat-regular-webfont.ttf') format('truetype'), url('montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OldStandard-Regular';
    src: url('oldstandard-regular-webfont.eot');
    src: url('oldstandard-regular-webfont.eot?#iefix') format('embedded-opentype'), url('oldstandard-regular-webfont.woff2') format('woff2'), url('oldstandard-regular-webfont.woff') format('woff'), url('oldstandard-regular-webfont.ttf') format('truetype'), url('oldstandard-regular-webfont.svg#old_standard_ttregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfair_displaybold';
    src: url('playfairdisplay-bold-webfont.eot');
    src: url('playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'), url('playfairdisplay-bold-webfont.woff2') format('woff2'), url('playfairdisplay-bold-webfont.woff') format('woff'), url('playfairdisplay-bold-webfont.ttf') format('truetype'), url('playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('playfairdisplay-regular-webfont.eot');
    src: url('playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'), url('playfairdisplay-regular-webfont.woff2') format('woff2'), url('playfairdisplay-regular-webfont.woff') format('woff'), url('playfairdisplay-regular-webfont.ttf') format('truetype'), url('playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VarelaRound-Regular';
    src: url('varelaround-regular-webfont.eot');
    src: url('varelaround-regular-webfont.eot?#iefix') format('embedded-opentype'), url('varelaround-regular-webfont.woff2') format('woff2'), url('varelaround-regular-webfont.woff') format('woff'), url('varelaround-regular-webfont.ttf') format('truetype'), url('varelaround-regular-webfont.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('worksans-regular-webfont.eot');
    src: url('worksans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('worksans-regular-webfont.woff2') format('woff2'), url('worksans-regular-webfont.woff') format('woff'), url('worksans-regular-webfont.ttf') format('truetype'), url('worksans-regular-webfont.svg#work_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla-Bold';
    src: url('karla-bold-webfont.eot');
    src: url('karla-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('karla-bold-webfont.woff2') format('woff2'),
         url('karla-bold-webfont.woff') format('woff'),
         url('karla-bold-webfont.ttf') format('truetype'),
         url('karla-bold-webfont.svg#karlabold') format('svg');
    font-weight: normal;
    font-style: normal;
}