<!-- #agent -->
<section id="agent">
    <h2 class="section-title font-big">Selling Agent</h2>
    <span class="hr"></span>
    <div class="container">
        <div class="row">
            <ul class="clearfix flex-center-x">
                <div class="col-sm-6" ng-repeat="agent in vm.agents">
                    <li ng-class="{'first': $index == 0}" style="background-image: url('{{ agent.avatar }}');" ng-click="vm.openSidePanel(agent)">
                        <span class="name font-small">{{ agent.firstname }} {{ agent.lastname }}</span>
                        <span class="about font-small">ABOUT {{ agent.firstname }}</span>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</section>
<!-- END #agent -->
<div class="slidein-panel" ng-class="{'in': vm.slideIn}">
    <div class="bdrop" ng-click="vm.slideIn = false"></div>
    <div class="inner niceScroll">
        <i class="clc-close" ng-click="vm.closeSidePanel()"></i>
        <div class="avatar" style="background-image: url('{{ vm.selectedAgent.avatar }}');">
            <h4 class="name font-small">{{ vm.selectedAgent.firstname }} {{ vm.selectedAgent.lastname }}</h4>
        </div>
        <div class="content">
            <ul class="contact">
                <li class="themebg" data-toggle="modal" data-target="#profileVideoModal"><a href="#"><i class="clc-playsolid"></i></a></li>
                <li class="themebg"><a href="#"><i class="clc-phone"></i></a></li>
                <li class="themebg"><a href="#"><i class="clc-email"></i></a></li>
            </ul>
            <p class="quote themecolor">“{{vm.selectedAgent.quote}}” —</p>
            <p>{{vm.selectedAgent.about}}</p>
        </div>
    </div>
</div>
