<!-- #auction -->
<section id="auction">
    <div class="container">
        <h2 class="section-title font-big">Inspections & Auction</h2>
        <span class="hr"></span>
        <div class="content">
            <p>Private appointments and inspections can be made by contacting us at the agency directly <br> and we can organise a time that suits. Otherwise our open inspections are as follows</p>
        </div>
        <h3 class="sub-title font-big">Open House Dates</h3>
        <ul>
            <li class="font-small themebg">
                <strong>SATURDAY</strong>
                <span class="date">30th</span>
                <strong>January</strong>
                <span>12-12:30PM</span>
                <i class="clc-calendar"></i>
            </li>
            <li class="font-small themebg">
                <strong>SATURDAY</strong>
                <span class="date">30th</span>
                <strong>January</strong>
                <span>12-12:30PM</span>
                <i class="clc-calendar"></i>
            </li>
            <li class="font-small themebg">
                <strong>SATURDAY</strong>
                <span class="date">30th</span>
                <strong>January</strong>
                <span>12-12:30PM</span>
                <i class="clc-calendar"></i>
            </li>
            <li class="active font-small themeborder">
                <strong>SATURDAY</strong>
                <span class="date themecolor">30th</span>
                <strong>January</strong>
                <span>12-12:30PM</span>
                <i class="clc-calendar themecolor"></i>
                <button class="font-small themebg">AUCTION</button>
            </li>
        </ul>
    </div>
</section>
<!-- END #auction -->
