<!-- #features -->
<section id="features">
    <div class="container">
        <h2 class="section-title font-big">Details</h2>
        <span class="hr"></span>
        <ul class="feature-list">
            <li>
                <span class="icon clc-bedroom"></span>
                <span class="name font-small">3 bedroom</span>
            </li>
            <li>
                <span class="icon clc-bathroom"></span>
                <span class="name font-small">3 bathroom</span>
            </li>
            <li>
                <span class="icon clc-parking"></span>
                <span class="name font-small">2 parking</span>
            </li>
        </ul>
        <div class="row content">
            <div class="col-md-8 col-md-offset-2">
                <div class="auction">
                    <span>Auction, price guide</span>
                    <span class="big themecolor">$1,850,000-$2,035,000</span>
                    <span>Saturday 4 June at 1.30pm - On Site</span>
                    <span class="hr"></span>
                </div>
                <h3 class="text-center themecolor">The Jewel of the South Coast lorum ipsum <br>dolar amet colour return allevium</h3>
                <p ng-class="{'more': !vm.featuresReadmore}">Set in a beautifully elevated location within the leafy and picturesque English Counties Estate, this c1938 family home was beautifully extended in 1990 by the renowned architect Maggie Edmond. Boasting a substantial 5 double bedroom configuration with 2 bathrooms and a powder room, a flowing layout provides the ideal family setting with impressive living zones. A sophisticated lounge room with open fireplace and adjoining dining room extend out to a huge open-plan living (OFP), meals and spotless family kitchen. A tranquil retreat, step outside to the beautiful return verandah and pretty garden on an allotment of some 743sqm. Additionally choose to extend upwards to capture distant views of the bay (STCA). OR there is an exciting opportunity to also purchase the rear separately titled 1,078sqm (approx.) allotment at 3 FELIX STREET, which is currently the floodlit north-south tennis court. de to the beautiful return verandah and pretty garden on an allotment of some 743sqm. Additionally choose to extend upwards to capture distant views of the bay (STCA). OR there is an exciting opportunity to also purchase the rear separately titled 1,078sqm (approx.) allotment at 3 FELIX STREET, which is currently the floodlit north-south tennis court.</p>
                <div class="more-block" ng-show="vm.featuresReadmore">
                    <h3 class="text-center font-big themecolor">Features</h3>
                    <div class="features-list">
                        <ul>
                            <li>Ocean views</li>
                            <li>Full Miele Appliances</li>
                            <li>Induction cooking</li>
                            <li>Built-in Wardrobes</li>
                            <li>Dishwasher</li>
                            <li>Ducted vacuuming</li>
                        </ul>
                        <ul>
                            <li>Ocean views</li>
                            <li>Full Miele Appliances</li>
                            <li>Induction cooking</li>
                            <li>Built-in Wardrobes</li>
                            <li>Dishwasher</li>
                            <li>Ducted vacuuming</li>
                        </ul>
                    </div>
                    <ul class="feature-items">
                        <li>
                            <span class="clc-ruler icon themecolor"></span>
                            <span>LAND SIZE</span>
                            <strong>592 sqm (approx)</strong>
                        </li>
                        <li>
                            <span class="clc-drop icon themecolor"></span>
                            <span>WATER RATES</span>
                            <strong>$940 P.A.</strong>
                        </li>
                        <li>
                            <span class="clc-council icon themecolor"></span>
                            <span>COUNCIL RATES</span>
                            <strong>$2,012 PA.</strong>
                        </li>
                    </ul>
                    <button class="readmore less" ng-click="vm.featuresReadmore = false">READ LESS</button>
                </div>
                <!-- /.more-block -->
                <div class="readmore-cover" ng-if="vm.featuresReadmore != true"></div>
                <button class="readmore" ng-click="vm.featuresReadmore = true" ng-if="vm.featuresReadmore != true">READ MORE</button>
            </div>
        </div>
        <div class="row">
            <ul class="actions clearfix flex-center-x">
                <li class="col-md-4 col-sm-4">
                    <span class="icon" data-toggle="modal" data-target="#viewFloorplansModal"></span>
                    <span class="label content font-small" data-toggle="modal" data-target="#viewFloorplansModal">VIEW FLOORPLANS</span>
                </li>
                <li class="col-md-4 col-sm-4">
                    <span class="icon"></span>
                    <span class="label content font-small">PRINT PROPERTY BROCHURE</span>
                </li>
                <li class="col-md-4 col-sm-4">
                    <span class="icon"></span>
                    <span class="label content font-small">EMAIL YOURSELF OR A FRIEND</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- END #features -->
<section id="vtours">
    <div class="container">
        <h2 class="section-title font-big themecolor">3D tour</h2>
        <span class="hr"></span>
        <iframe width="853" height="480" src="https://my.matterport.com/show/?m=e9oPuyxrEXU" frameborder="0" allowfullscreen=""></iframe>
    </div>
</section>
