<!-- #gallery -->
<section id="gallery">
    <h2 class="section-title font-big flex-center-x">Gallery</h2>
    <span class="hr flex-center-x"></span>
    <div id="gallery-1" class="royalSlider contentSlider rsDefault">
        <div class="item" style="background-image: url('assets/classica/img/gallery/Slideshow-00.jpg');"></div>
        <div class="rsTextSlide item" style="background-image: url('assets/classica/img/gallery/Slideshow-01.jpg');">
            <a class="rsImg" data-rsVideo="https://vimeo.com/41132461" href="assets/classica/img/gallery/Slideshow-01.jpg">
            </a>
        </div>
        <div class="rsTextSlide item" style="background-image: url('assets/classica/img/gallery/Slideshow-02.jpg');">
            <a class="rsImg" data-rsVideo="https://www.youtube.com/watch?v=FS7K8EcvU4w" href="assets/classica/img/gallery/Slideshow-02.jpg">
            </a>
        </div>
    </div>
    <div id="gallery-nav" class="flex-center-x">
        <!-- <span class="btn-round themebg clc-picture"></span> -->
        <!-- <span class="btn-round themebg clc-camera"></span> -->
        <span class="prev clc-arrowleft themecolor"></span>
        <span class="count"><span class="current">1</span>/<span class="total">1</span></span>
        <span class="next clc-arrowright themecolor"></span>
    </div>
</section>
<!-- END #gallery -->
