<!-- #location -->
<section id="location">
    <div class="container">
        <h2 class="section-title font-big">Location</h2>
        <span class="hr"></span>
        <div class="row">
            <div class="col-md-6">
                <div class="mapwrapper">
                    <div id="map"></div>
                    <div class="expand" data-toggle="modal" data-target="#mapModal">
                        <span class="icon"></span>
                        <span class="label font-small">click to expand</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <p>Set in the sought after location of the Northern Suburbs, this family home is situated in a quiet cul-de-sac only moments away from McCauley's beach. Shops, cafes and trains are only a short walk away. Live the lifestyle in the seaside village of Thirroul with easy access to Sydney.</p>
                    <ul class="actions clearfix">
                        <li>
                            <span class="icon clc-book"></span>
                            <span class="label content font-small">NEAREST SCHOOLS <br>$940 P.A.</span>
                        </li>
                        <li>
                            <span class="icon clc-shop"></span>
                            <span class="label content font-small">SHOPS <br>0.92KMS</span>
                        </li>
                        <li>
                            <span class="icon clc-bus"></span>
                            <span class="label content font-small">TRANSPORT <br>0.5KMS</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="lifestyle">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="font-big">Thirroul, New South Wales 2515</h2>
                <div class="gallery-preview" style="background-image: url('assets/classica/img/gallery-preview.jpg')">
                    <!-- <div class="launch flex-center" data-toggle="modal" data-target="#galleryModal"> -->
                    <div class="launch flex-center themebg">
                        <i class="clc-camera flex-center-y"></i>
                        <span class="split flex-center"></span>
                        <i class="clc-picture flex-center-y"></i>
                        <span class="title font-small flex-center-x">LAUNCH GALLERY</span>
                    </div>
                </div>
                <h3 class="font-big themecolor">The Jewel of the South Coast lorum ipsum <br>dolar amet colour return allevium</h3>
                <p>Set on the picturesque South Coast of New South Wales Bulli is home set between the beach and the escarpment boasting large beach and parkland areas ideal for family picnics and gatherings. bulli is a rich mix of young and old enjoying all that the rich coastal lifestyle has to offer. Bulli boasts direct easy, access to both Sydney and Wollongong for entertainment and shopping amenity. Everyone can enjoy the outdoor scene with the bike path runs behind the beach linking Bulli with the beautiful beaches and parklands of the south coast.</p>
                <ul class="features">
                    <li>
                        <span class="icon-title">Lifestyle</span>
                        <i class="clc-coffee themebg"></i>
                        <h4 class="quote themecolor">"Coastal living at its finest”</h4>
                        <p>Emerging boutique shops, cafes and local eateries, combined with laid back beach living makeup the ultimate lifestyle combination.</p>
                    </li>
                    <li>
                        <span class="icon-title">People</span>
                        <i class="clc-people themebg"></i>
                        <h4 class="quote themecolor">"An eclectic mix of young and old all enjoying what the coast has to offer”</h4>
                        <p>Bulli is a vibrant mix of young families, and couples, with established locals to make you feel part of this beachside community.</p>
                    </li>
                    <li>
                        <span class="icon-title">Amenities</span>
                        <i class="clc-amenities themebg"></i>
                        <h4 class="quote themecolor">“Live in paradise, with access at your doorstep”</h4>
                        <p>10 minutes to Wollongong, 20 Minutes to the Sutherland Shire, and under 90 minutes to the heart of Sydney means everything is within reach.</p>
                    </li>
                </ul>
                <div class="suburb flex-center-x themebg">
                    <div class="inner flex-center">
                        <i class="clc-house"></i>
                        <h5 class="title">Houses</h5>
                        <span class="buy">BUY</span>
                        <span class="price">$1,600,000</span>
                        <hr>
                        <span class="buy">RENT</span>
                        <span class="price">$420p/w</span>
                        <p>Suburb price averages</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END #location -->
<div class="modal fade fullscreen-modal" id="mapModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-wrap">
                <span class="close clc-close themecolor" data-dismiss="modal"></span>
                <span data-dismiss="modal" class="close text">CLOSE</span>
            </div>
            <div class="modal-body flex-center">
                <div id="map2"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade fullscreen-modal" id="galleryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-wrap">
                <span class="close clc-close themecolor" data-dismiss="modal"></span>
                <span data-dismiss="modal" class="close text">CLOSE</span>
            </div>
            <div class="modal-body flex-center">
                <div id="video-carousel" class="">
                    <div class="royalSlider contentSlider rsDefault" rslider>
                        <div class="rsTextSlide">
                            <img class="rsImg" src="assets/classica/img/gallery-preview.jpg" data-rsVideo="https://www.youtube.com/watch?v=FS7K8EcvU4w" alt="Caption image under video" />
                        </div>
                        <div class="rsTextSlide">
                            <img class="rsImg" src="assets/classica/img/gallery-preview.jpg" data-rsVideo="https://www.youtube.com/watch?v=HHP5MKgK0o8" alt="Lorem ipsum dolor sit amet" />
                        </div>
                    </div>
                    <!-- Controls -->
                    <div class="control">
                        <span class="icon icon-arrowleft" ng-click="vm.videoSliderPrev()"></span>
                        <span class="icon icon-arrowright" ng-click="vm.videoSliderNext()"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
