<span class="humburger clc-menu themecolor" ng-click="vm.openMenu()"></span>
<span ng-click="vm.openMenu()" class="humburger-text">MENU</span>
<ul class="header-links">
    <li ng-click="vm.closeMenu()" data-toggle="modal" data-target="#registerModal"><i class="clc-pencil themecolor"></i><span>REGISTER YOUR INTEREST</span></li>
    <li ng-click="vm.closeMenu()" data-toggle="modal" data-target="#infoModal"><i class="clc-download themecolor"></i><span>USEFUL INFO DOCS</span></li>
</ul>
<nav id="mobile-nav">
    <div class="close-wrap">
        <span class="close clc-close themecolor" ng-click="vm.closeMenu()"></span>
        <span ng-click="vm.closeMenu()" class="close text">CLOSE</span>
    </div>
    <ul>
        <li><a href="#home" ng-click="vm.closeMenu()">Home</a></li>
        <li ng-repeat="section in themeChangeableSections"><a href="#{{ section.id }}" ng-click="vm.closeMenu()">{{ section.title }}</a></li>
        <li><a href="#contact" ng-click="vm.closeMenu()">Contact</a></li>
    </ul>
    <div class="lang flex-center-x">
        <span class="active">ENG</span>&nbsp;&nbsp; | &nbsp;&nbsp;<span>中文</span>
    </div>
    <div class="header-links">
        <li ng-click="vm.closeMenu()" data-toggle="modal" data-target="#registerModal"><i class="clc-pencil themecolor"></i><span>REGISTER YOUR INTEREST</span></li>
        <li ng-click="vm.closeMenu()" data-toggle="modal" data-target="#infoModal"><i class="clc-download themecolor"></i><span>USEFUL INFO DOCS</span></li>
    </div>
</nav>
<!-- nav -->
<nav class="flex-center-x" id="secondary-nav">
    <span class="humburger clc-menu themecolor" ng-click="vm.openMenu()"></span>
    <span ng-click="vm.openMenu()" class="humburger-text">MENU</span>
    <ul>
        <li><a class="logo font-big" href="#home">33G Hospital Hill Rd</a></li>
    </ul>
    <ul class="header-links">
        <li data-toggle="modal" data-target="#registerModal"><i class="clc-pencil themecolor"></i><span>REGISTER YOUR INTEREST</span></li>
        <li data-toggle="modal" data-target="#infoModal"><i class="clc-download themecolor"></i><span>USEFUL INFO DOCS</span></li>
    </ul>
</nav>
<!-- END nav -->
<div id="wrapper">
    <section id="home" class="parallax" style="background-image: url('assets/classica/img/top-image.jpg'); background-attachment: fixed; background-size: cover;">
        <div class="tint"></div>
        <div class="welcome">
            <h3 class="font-small themecolor">Welcome to</h3>
            <h1 class="title text-center font-big">33G Hospital Hill Rd</h1>
            <span data-toggle="modal" data-target="#videoModal" class="clc-play"></span>
            <span class="play-text themecolor">LAUNCH VIDEO</span>
            <ul class="feature-list">
                <li>
                    <span class="icon clc-bedroom themecolor"></span>
                    <span class="name font-small">3 bedroom</span>
                </li>
                <li>
                    <span class="icon clc-bathroom themecolor"></span>
                    <span class="name font-small">3 bathroom</span>
                </li>
                <li>
                    <span class="icon clc-parking themecolor"></span>
                    <span class="name font-small">2 parking</span>
                </li>
            </ul>
            <span class="presented font-small">PRESENTED BY</span>
            <img src="assets/stream/img/masters-go.png" alt="masters and go" class="logo">
        </div>
        <div class="scroll-explore flex-center-x">
            <a class="themebg" href="#features"><img src="assets/classica/img/icon/arrow.png" alt="arrow" class="icon"></a>
        </div>
    </section>
    <!-- END #home -->
    <theme-section ng-repeat="section in themeChangeableSections" theme="{{mainVm.currentTheme}}" sectionid="{{section.id}}"></theme-section>
    <!-- #contact -->
    <section id="contact">
        <img src="assets/classica/img/masters-go.png" alt="masters and go" class="logo">
        <div class="preview-video" style="background-image: url('assets/classica/img/contact-profile.jpg');">
            <i class="clc-play flex-center themecolor" data-toggle="modal" data-target="#contactVideoModal"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <ul class="contact flex-center-x">
                        <li><i class="themecolor clc-phone"></i> 02 234567....</li>
                        <li><i class="themecolor clc-email"></i>Email Masters & Co.</li>
                        <li><i class="themecolor clc-computer"></i>www.mastersco.com.au</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p>
                        Office Address
                        <br> 600 Lawrene Hargrave Drive
                        <br> Thirroul, NSW 2515</p>
                    <p>Mon 9-6
                        <br>Tue 9-6
                        <br>Wed 9-6
                        <br>Thur 9-6
                        <br>Fri 9-6
                        <br>Sat 9-6
                        <br>Sun 9-12</p>
                </div>
            </div>
            <div class="socials flex-center-x">
                <h4>CONNECT WITH US</h4>
                <ul class="flex-center-x">
                    <li>
                        <a href="#"><i class="themecolor clc-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="themecolor clc-insta"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="themecolor clc-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="themecolor clc-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <a href="#home" id="back2Top" class="flex-center-x">
                <i class="clc-arrowup themebg"></i>
                <span>back to top</span>
            </a>
        </div>
    </section>
</div>
<!-- END #contact -->
<!-- Modals -->
<!-- Register My Interest -->
<div class="modal fade" id="registerMyInterestModal" tabindex="-1" role="dialog" aria-labelledby="registerMyInterestModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="assets/classica/img/icon/close-btn.png" alt="close" class="close" data-dismiss="modal">
                <h2 class="title font-big">Register My Interest</h2>
                <span class="hr"></span>
                <p class="text-center">For further information and to register your interest please fill in your details</p>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="font-small" placeholder="First name">
                        <input type="email" class="font-small" placeholder="Email Address">
                        <input type="checkbox" id="ckRMI1">
                        <label class="font-small" for="ckRMI1"><span></span>I’d like someone to give me a call back</label>
                        <input type="checkbox" id="ckRMI2">
                        <label class="font-small" for="ckRMI2"><span></span>I’d like to receieve information emails about this property</label>
                        <input type="checkbox" id="ckRMI3">
                        <label class="font-small" for="ckRMI3"><span></span>I’d like someone to give me a call back</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="font-small" placeholder="Surname">
                        <input type="text" class="font-small" placeholder="Phone Number">
                        <textarea rows="5" class="font-small" placeholder="Any additional question or comments"></textarea>
                    </div>
                </div>
                <button>Send</button>
            </div>
        </div>
    </div>
</div>
<!-- Floorplans -->
<div class="modal fade fullscreen-modal" id="viewFloorplansModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-wrap">
                <span class="close clc-close themecolor" data-dismiss="modal"></span>
                <span data-dismiss="modal" class="close text">CLOSE</span>
            </div>
            <div class="modal-body flex-center">
                <img src="assets/classica/img/floorplan.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Library -->
<!-- Video modal -->
<div class="modal fade fullscreen-modal video-modal" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-wrap">
                <span class="close clc-close themecolor" data-dismiss="modal"></span>
                <span data-dismiss="modal" class="close text">CLOSE</span>
            </div>
            <div class="modal-body flex-center">
                <iframe width="100%" height="315" data-src="https://www.youtube.com/embed/Jer8XjMrUB4" frameborder="0" allowfullscreen></iframe>
                <span class="caption font-small">Video caption title</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade fullscreen-modal video-modal" id="profileVideoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-wrap">
                <span class="close clc-close themecolor" data-dismiss="modal"></span>
                <span data-dismiss="modal" class="close text">CLOSE</span>
            </div>
            <div class="modal-body flex-center">
                <iframe width="100%" height="315" data-src="{{vm.selectedAgent.video}}" frameborder="0" allowfullscreen></iframe>
                <span class="caption font-small">Video caption title</span>
            </div>
        </div>
    </div>
</div>
<!-- Contact Video modal -->
<div class="modal fade fullscreen-modal video-modal" id="contactVideoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-wrap">
                <span class="close clc-close themecolor" data-dismiss="modal"></span>
                <span data-dismiss="modal" class="close text">CLOSE</span>
            </div>
            <div class="modal-body flex-center">
                <iframe width="100%" height="315" data-src="https://www.youtube.com/embed/4KSlB-eA3u4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Register modal -->
<div class="modal fade fullscreen-modal video-modal" id="registerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="close-wrap">
                <span class="close clc-close themecolor" data-dismiss="modal"></span>
                <span data-dismiss="modal" class="close text">CLOSE</span>
            </div>
            <div class="modal-body">
                <div class="register-my-interest col-md-8 col-md-offset-2">
                    <h2 class="title font-big">Register Your Interest</h2>
                    <p class="text-center">For further information and to register your interest please fill in your details </p>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="font-small" placeholder="First name">
                            <input type="email" class="font-small" placeholder="Email Address">
                            <input type="checkbox" id="ckRMI1">
                            <label class="font-small" for="ckRMI1"><span></span>I’d like someone to give me a call back</label>
                            <input type="checkbox" id="ckRMI2">
                            <label class="font-small" for="ckRMI2"><span></span>I’d like to receieve information emails about this property</label>
                            <input type="checkbox" id="ckRMI3">
                            <label class="font-small" for="ckRMI3"><span></span>Sign me for our agency newsletter</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="font-small" placeholder="Surname">
                            <input type="text" class="font-small" placeholder="Phone Number">
                            <textarea rows="5" class="font-small" placeholder="Any additional question or comments"></textarea>
                        </div>
                    </div>
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Info modal -->
<div class="modal fade fullscreen-modal" id="infoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="close-wrap">
                <span class="close clc-close themecolor" data-dismiss="modal"></span>
                <span data-dismiss="modal" class="close text">CLOSE</span>
            </div>
            <div class="modal-body flex-center-x">
                <h2 class="title text-center font-big themecolor">Useful Info Docs & Links</h2>
                <p class="sub-title font-small">For further information and to register your interest please fill in your details</p>
                <ul class="font-small clearfix">
                    <li>
                        <a href="#">
                            <span class="clc-document themebg"></span>
                            <h5 class="item-title font-small">CONTRACT OF SALE DOCUMENTS</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="clc-document themebg"></span>
                            <h5 class="item-title font-small">COMPARABLE SALES DOCUMENTS TITLE RUNNING TWO LINES OVER FOR LENGTH</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="clc-document themebg"></span>
                            <h5 class="item-title font-small">PROPERTY PDF</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="clc-document themebg"></span>
                            <h5 class="item-title font-small">RENTAL REPORT</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="clc-document themebg"></span>
                            <h5 class="item-title font-small">FLOORPLANS</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="clc-url themebg"></span>
                            <h5 class="item-title font-small">LORUM IPSUM LINK</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="clc-url themebg"></span>
                            <h5 class="item-title font-small">LORUM IPSUM LINK</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="clc-url themebg"></span>
                            <h5 class="item-title font-small">LORUM IPSUM LINK</h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
