<div id="editTools">
    <ul>
        <li>Edit</li>
        <li>
            <img src="assets/classica/img/icon/color-picker.png" alt="" class="icon">
            <span>Colour</span>
            <div class="picker clearfix">
                <h5>Feature/Background combos</h5>
                <div class="left pull-left">
                    <div class="group clearfix selected" theme-color="0" theme-bg="1">
                        <span class="feature-color" style="background-color: black"></span>
                        <span class="feature-bg" style="background-color: white"></span>
                    </div>
                    <div class="group clearfix" theme-color="1" theme-bg="1">
                        <span class="feature-color" style="background-color: #C98C49"></span>
                        <span class="feature-bg" style="background-color: white"></span>
                    </div>
                    <div class="group clearfix" theme-color="3" theme-bg="1">
                        <span class="feature-color" style="background-color: #75B2CE"></span>
                        <span class="feature-bg" style="background-color: white"></span>
                    </div>
                    <div class="group clearfix" theme-color="4" theme-bg="1">
                        <span class="feature-color" style="background-color: #E4C1B0"></span>
                        <span class="feature-bg" style="background-color: white"></span>
                    </div>
                </div>
                <div class="right pull-left">
                    <div class="group clearfix" theme-color="2" theme-bg="2">
                        <span class="feature-color" style="background-color: white"></span>
                        <span class="feature-bg" style="background-color: black"></span>
                    </div>
                    <div class="group clearfix" theme-color="1" theme-bg="2">
                        <span class="feature-color" style="background-color: #C98C49"></span>
                        <span class="feature-bg" style="background-color: black"></span>
                    </div>
                    <div class="group clearfix" theme-color="3" theme-bg="2">
                        <span class="feature-color" style="background-color: #75B2CE"></span>
                        <span class="feature-bg" style="background-color: black"></span>
                    </div>
                    <div class="group clearfix" theme-color="4" theme-bg="2">
                        <span class="feature-color" style="background-color: #E4C1B0"></span>
                        <span class="feature-bg" style="background-color: black"></span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="assets/classica/img/icon/font-picker.png" alt="" class="icon">
            <span>Font</span>
            <div class="picker font">
                <h5>Big font</h5>
                <h4 id="font-preview-big" class="font-big">AaBbCcDdEe</h4>
                <select id="font-big-select">
                    <option value="PlayfairDisplay-Regular">PlayfairDisplay Regular</option>
                    <option value="Arvo-Regular">Arvo Regular</option>
                    <option value="DroidSerif-Regular">DroidSerif Regular</option>
                    <option value="Merriweather-Regular">Merriweather Regular</option>
                    <option value="Montserrat-Bold">Montserrat Bold</option>
                    <option value="OldStandard-Regular">OldStandard Regular</option>
                </select>
                <div class="divider"></div>
                <h5>Small font</h5>
                <h4 id="font-preview-small" class="font-small">AaBbCcDdEe</h4>
                <select id="font-small-select">
                    <option value="Lato-Regular">Lato Regular</option>
                    <option value="FiraSans-Regular">FiraSans Regular</option>
                    <option value="Karla-Regular">Karla Regular</option>
                    <option value="Montserrat-Regular">Montserrat Regular</option>
                    <option value="VarelaRound-Regular">VarelaRound Regular</option>
                    <option value="WorkSans-Regular">WorkSans Regular</option>
                </select>
            </div>
        </li>
        <li ng-click="editToolsVm.openThemeReorder()">
            <img src="assets/main/img/icon/order.png" alt="" class="icon">
            <span>Order</span>
        </li>
        <li ng-click="editToolsVm.openThemeSelector()">
            <img src="assets/main/img/icon/theme.png" alt="" class="icon">
            <span>Theme</span>
        </li>
    </ul>
</div>
