<img src="assets/nuevo/img/icon/menu.png" alt="mobile menu toggle" id="humburger">
<nav id="mobile-nav">
    <img src="assets/nuevo/img/icon/close.png" alt="close" class="close">
    <ul>
        <li><a class="logo font-big" href="#home">5 Armagh Parade</a></li>
        <li><span data-toggle="modal" data-target="#registerMyInterestModal" class="register">REGISTER YOUR INTEREST</span></li>
        <li ng-repeat="section in themeChangeableSections"><a href="#{{ section.id }}">{{ section.title }}</a></li>
        <li><a href="#contact">contact</a></li>
        <li>
            <div class="contact">
                <img src="assets/nuevo/img/agent-avatar.png" alt="MICHEAL PASCOE" class="avatar">
                <img class="phone" src="assets/nuevo/img/icon/phone.png" alt="phone">
                <img class="email" src="assets/nuevo/img/icon/email.png" alt="email">
            </div>
            <h4 class="name">MICHEAL PASCOE</h4>
            <div class="lang-switch">
                <span>ENG</span>
                <span>|</span>
                <span>中文</span>
            </div>
        </li>
    </ul>
</nav>
<!-- <div id="editTools">
    <ul>
        <li>Edit</li>
        <li>
            <img src="assets/nuevo/img/icon/color-picker.png" alt="" class="icon">
            <span>Colour</span>
            <div class="picker clearfix">
                <h5>Feature/Background combos</h5>
                <div class="left pull-left">
                    <div class="group clearfix selected" theme-color="0" theme-bg="1">
                        <span class="feature-color" style="background-color: black"></span>
                        <span class="feature-bg" style="background-color: white"></span>
                    </div>
                    <div class="group clearfix" theme-color="1" theme-bg="1">
                        <span class="feature-color" style="background-color: #C98C49"></span>
                        <span class="feature-bg" style="background-color: white"></span>
                    </div>
                    <div class="group clearfix" theme-color="3" theme-bg="1">
                        <span class="feature-color" style="background-color: #75B2CE"></span>
                        <span class="feature-bg" style="background-color: white"></span>
                    </div>
                    <div class="group clearfix" theme-color="4" theme-bg="1">
                        <span class="feature-color" style="background-color: #E4C1B0"></span>
                        <span class="feature-bg" style="background-color: white"></span>
                    </div>
                </div>
                <div class="right pull-left">
                    <div class="group clearfix" theme-color="2" theme-bg="2">
                        <span class="feature-color" style="background-color: white"></span>
                        <span class="feature-bg" style="background-color: black"></span>
                    </div>
                    <div class="group clearfix" theme-color="1" theme-bg="2">
                        <span class="feature-color" style="background-color: #C98C49"></span>
                        <span class="feature-bg" style="background-color: black"></span>
                    </div>
                    <div class="group clearfix" theme-color="3" theme-bg="2">
                        <span class="feature-color" style="background-color: #75B2CE"></span>
                        <span class="feature-bg" style="background-color: black"></span>
                    </div>
                    <div class="group clearfix" theme-color="4" theme-bg="2">
                        <span class="feature-color" style="background-color: #E4C1B0"></span>
                        <span class="feature-bg" style="background-color: black"></span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="assets/nuevo/img/icon/font-picker.png" alt="" class="icon">
            <span>Font</span>
            <div class="picker font">
                <h5>Big font</h5>
                <h4 id="font-preview-big" class="font-big">AaBbCcDdEe</h4>
                <select id="font-big-select">
                    <option value="Montserrat-Regular">Montserrat Regular</option>
                    <option value="PlayfairDisplay-Regular">PlayfairDisplay Regular</option>
                    <option value="Arvo-Regular">Arvo Regular</option>
                    <option value="DroidSerif-Regular">DroidSerif Regular</option>
                    <option value="Merriweather-Regular">Merriweather Regular</option>
                    <option value="OldStandard-Regular">OldStandard Regular</option>
                </select>
                <div class="divider"></div>
                <h5>Small font</h5>
                <h4 id="font-preview-small" class="font-small">AaBbCcDdEe</h4>
                <select id="font-small-select">
                    <option value="Lato-Regular">Lato Regular</option>
                    <option value="FiraSans-Regular">FiraSans Regular</option>
                    <option value="Karla-Regular">Karla Regular</option>
                    <option value="Montserrat-Regular">Montserrat Regular</option>
                    <option value="VarelaRound-Regular">VarelaRound Regular</option>
                    <option value="WorkSans-Regular">WorkSans Regular</option>
                </select>
            </div>
        </li>
        <li>
            <img src="assets/nuevo/img/icon/layout-picker.png" alt="" class="icon">
            <span>Layout</span>
        </li>
    </ul>
</div> -->
<div id="wrapper">
    <section id="home">
        <div class="tint"></div>
        <!-- nav -->
        <nav class="flex-center-x" id="primary-nav">
            <a class="logo font-big" href="#home">5 Armagh Parade</a>
            <ul>
                <li><a class="active" href="#home">home</a></li>
                <li ng-repeat="section in themeChangeableSections"><a href="#{{ section.id }}">{{ section.title }}</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
            <div class="lang-switch">
                <span>ENG</span>
                <span>|</span>
                <span>中文</span>
            </div>
            <span data-toggle="modal" data-target="#registerMyInterestModal" class="register font-small">REGISTER YOUR INTEREST</span>
        </nav>
        <!-- END nav -->
        <div class="welcome">
            <h3 class="font-small">Welcome to</h3>
            <h1 class="title font-big">5 Armagh Parade</h1>
            <h3 class="font-small">AUCTION SATURDAY 21ST FEBRUARY</h3>
        </div>
        <div class="scroll-explore">
            <a href="#features">
                <span class="icon icon-arrowdown"></span>
                <span class="label font-small">scroll to explore</span></a>
        </div>
        <ul class="feature-list">
            <li>
                <span class="icon icon-bed"></span>
                <span class="name font-small">3 bedroom</span>
            </li>
            <li>
                <span class="icon icon-bathtub"></span>
                <span class="name font-small">3 bathroom</span>
            </li>
            <li>
                <span class="icon icon-car"></span>
                <span class="name font-small">2 parking</span>
            </li>
        </ul>
    </section>
    <!-- END #home -->
    <theme-section ng-repeat="section in themeChangeableSections" theme="{{mainVm.currentTheme}}" sectionid="{{section.id}}"></theme-section>
    <!-- #contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img src="assets/nuevo/img/masters-go.png" alt="masters and go" class="logo">
                </div>
                <div class="col-md-3 col-sm-6">
                    <ul class="contact">
                        <li><img src="assets/nuevo/img/icon/phone.png" alt="phone"> 02 234567....</li>
                        <li><img src="assets/nuevo/img/icon/email.png" alt="">Email Masters & Co.</li>
                        <li><img src="assets/nuevo/img/icon/website.png" alt="">www.mastersco.com.au</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p>Office Address 600 Lawrene Hargrave Drive Thirroul, NSW 2515 </p>
                    <p><span style="width: 40px; display: inline-block;">M-F</span> 9-6
                        <br><span style="width: 40px; display: inline-block;">S</span> 9-6
                        <br><span style="width: 40px; display: inline-block;">S</span> 9-12</p>
                </div>
                <div class="socials col-md-3 col-sm-6">
                    <h4>CONNECT WITH US</h4>
                    <ul>
                        <li>
                            <a href="#"><img src="assets/nuevo/img/icon/facebook.png" alt="facebook"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/nuevo/img/icon/instagram.png" alt="instagram"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/nuevo/img/icon/twitter.png" alt="twitter"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/nuevo/img/icon/linkedin.png" alt="linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- END #contact -->
<!-- Modals -->
<!-- Register My Interest -->
<div class="modal fade" id="registerMyInterestModal" tabindex="-1" role="dialog" aria-labelledby="registerMyInterestModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="assets/nuevo/img/icon/close-btn.png" alt="close" class="close" data-dismiss="modal">
                <h2 class="title font-big">Register My Interest</h2>
                <span class="hr"></span>
                <p class="text-center">For further information and to register your interest please fill in your details</p>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="font-small" placeholder="First name">
                        <input type="email" class="font-small" placeholder="Email Address">
                        <input type="checkbox" id="ckRMI1">
                        <label class="font-small" for="ckRMI1"><span></span>I’d like someone to give me a call back</label>
                        <input type="checkbox" id="ckRMI2">
                        <label class="font-small" for="ckRMI2"><span></span>I’d like to receieve information emails about this property</label>
                        <input type="checkbox" id="ckRMI3">
                        <label class="font-small" for="ckRMI3"><span></span>I’d like someone to give me a call back</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="font-small" placeholder="Surname">
                        <input type="text" class="font-small" placeholder="Phone Number">
                        <textarea rows="5" class="font-small" placeholder="Any additional question or comments"></textarea>
                    </div>
                </div>
                <button>Send</button>
            </div>
        </div>
    </div>
</div>
<!-- Floorplans -->
<div class="modal fade" id="viewFloorplansModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="assets/nuevo/img/icon/close-btn.png" alt="close" class="close" data-dismiss="modal">
                <img src="assets/nuevo/img/floorplan.png" alt="">
            </div>
        </div>
    </div>
</div>
