<nav id="mobile-nav" class="font-small">
    <span class="icon icon-close hamburger" ng-click="vm.toggleMobileMenu()"></span>
    <div class="btn-wrap clearfix">
        <a href="#contact-2" class="register round-btn font-small"><i class="icon icon-pencil"></i> I’M INTERESTED</a>
        <a href="#" class="info round-btn font-small" data-toggle="modal" data-target="#infoModal"><i class="icon icon-download"></i> INFO</a>
    </div>
    <ul>
        <li><a class="font-small" href="#home">home</a></li>
        <li ng-repeat="section in themeChangeableSections"><a class="font-small" href="#{{ section.id }}">{{ section.title }}</a></li>
        <li><a class="font-small" href="#contact">contact</a></li>
        <li class="avatar">
            <span class="icon icon-phone"></span>
            <img src="assets/stream/img/agent-avatar.png" alt="MICHEAL PASCOE" class="avatar">
            <span class="icon icon-email"></span>
        </li>
        <li>
            <h4 class="name font-small">Micheal Pascoe</h4>
        </li>
        <li class="lang-switch font-small">
            <span class="selected">ENG</span> | 中文
        </li>
    </ul>
</nav>
<div id="wrapper">
    <nav id="secondary-nav">
        <ul>
            <span class="icon icon-hamburger hamburger" ng-click="vm.toggleMobileMenu()"></span>
            <a class="logo font-big" href="#home">5 Armagh Parade</a>
            <li><a href="#home">home</a></li>
            <li ng-repeat="section in themeChangeableSections"><a href="#{{ section.id }}">{{ section.title }}</a></li>
            <li><a href="#contact">contact</a></li>
            <li><a href="#contact-2" class="register round-btn font-small"><i class="icon icon-pencil"></i></a>
                <a href="#" class="info round-btn font-small" data-toggle="modal" data-target="#infoModal"><i class="icon icon-download"></i></a></li>
        </ul>
    </nav>
    <section id="home">
        <div class="tint"></div>
        <!-- nav -->
        <nav id="primary-nav" class="clearfix">
            <span class="icon icon-hamburger hamburger" ng-click="vm.toggleMobileMenu()"></span>
            <a class="logo font-big" href="#home">5 Armagh Parade</a>
            <ul>
                <li><a class="active" href="#home">home</a></li>
                <li ng-repeat="section in themeChangeableSections"><a href="#{{ section.id }}">{{ section.title }}</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
            <div class="lang-switch">
                <span class="selected">ENG</span>
                <span>|</span>
                <span>中文</span>
            </div>
            <div class="btn-wrap clearfix">
                <a href="#contact-2" class="register round-btn font-small"><i class="icon icon-pencil"></i> I’M INTERESTED</a>
                <a href="#" class="info round-btn font-small" data-toggle="modal" data-target="#infoModal"><i class="icon icon-download"></i> INFO</a>
            </div>
        </nav>
        <!-- END nav -->
        <div class="welcome flex-center">
            <h3 class="font-small">Welcome to</h3>
            <span data-toggle="modal" data-target="#videoModal" class="icon icon-play"></span>
            <h3 class="font-small">Play video</h3>
            <h1 class="title font-big">5 Armagh Parade</h1>
            <ul class="feature-list clearfix">
                <li>
                    <div class="icon-wrap">
                        <span class="icon icon-bed"></span>
                        <span class="num">3</span>
                    </div>
                    <span class="name font-small">bedroom</span>
                </li>
                <li>
                    <div class="icon-wrap">
                        <span class="icon icon-bathtub"></span><span class="num">3</span>
                    </div>
                    <span class="name font-small">bathroom</span>
                </li>
                <li>
                    <div class="icon-wrap">
                        <span class="icon icon-car"></span><span class="num">2</span>
                    </div>
                    <span class="name font-small">parking</span>
                </li>
            </ul>
        </div>
        <div class="scroll-explore flex-center-x">
            <h3 class="font-small">PRESENTED BY</h3>
            <img src="assets/stream/img/masters-go.png" alt="masters and go" class="logo">
            <a href="#{{ themeChangeableSections[0].id }}"><span class="icon icon-arrowdown"></span></a>
        </div>
    </section>
    <!-- END #home -->
    <theme-section ng-repeat="section in themeChangeableSections" theme="{{mainVm.currentTheme}}" sectionid="{{section.id}}"></theme-section>
    <!-- #contact -->
    <section id="contact">
        <div id="contact-1" class="clearfix font-small">
            <div class="clearfix">
                <img src="assets/stream/img/masters-go.png" alt="masters and go" class="logo">
                <div class="video-section" data-toggle="modal" data-target="#contactVideoModal">
                    <span class="icon icon-play"></span>
                </div>
                <h3 class="video-caption">OUR PROFILE</h3>
                <ul class="col-md-8 col-md-offset-2 clearfix">
                    <li class="col-md-4">
                        <span class="icon icon-marker"></span>
                        <h4>Address</h4>
                        <span>600 Lawrence Hargrave Drive Thirroul, NSW 2515</span>
                    </li>
                    <li class="col-md-4">
                        <span class="icon icon-phone"></span>
                        <h4>Phone</h4>
                        <span><a href="tel:023404008080">02 234567....</a></span>
                    </li>
                    <li class="col-md-4">
                        <span class="icon icon-email"></span>
                        <h4>Email</h4>
                        <span><a href="mailto:info@mastersandco.com.au">info@mastersandco.com.au</a></span>
                    </li>
                </ul>
            </div>
            <div class="clearfix">
                <h4 class="title text-center">Office Hours</h4>
                <ul class="office-hours">
                    <li><span class="date">Monday - Friday</span> <span class="hour">9-6</span></li>
                    <li><span class="date">Saturday</span> <span class="hour">9-6</span></li>
                    <li><span class="date">Sunday</span> <span class="hour">9-12</span></li>
                </ul>
                <a class="website" href="http://mastersco.com.au">www.mastersco.com.au</a>
                <div class="socials">
                    <ul>
                        <li>
                            <a href="#"><img src="assets/stream/img/icon/facebook.png" alt="facebook"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/stream/img/icon/instagram.png" alt="instagram"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/stream/img/icon/twitter.png" alt="twitter"></a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/stream/img/icon/linkedin.png" alt="linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="contact-2" class="clearfix">
            <div class="register-my-interest col-md-8 col-md-offset-2">
                <h2 class="title font-big">I’m interested in this house</h2>
                <p class="text-center">For further information and to I’M INTERESTED please fill in your details</p>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="font-small" placeholder="First name">
                        <input type="email" class="font-small" placeholder="Email Address">
                        <input type="checkbox" id="ckRMI1">
                        <label class="font-small" for="ckRMI1"><span></span>I’d like someone to give me a call back</label>
                        <input type="checkbox" id="ckRMI2">
                        <label class="font-small" for="ckRMI2"><span></span>I’d like to receieve information emails about this property</label>
                        <input type="checkbox" id="ckRMI3">
                        <label class="font-small" for="ckRMI3"><span></span>I’d like someone to give me a call back</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="font-small" placeholder="Surname">
                        <input type="text" class="font-small" placeholder="Phone Number">
                        <textarea rows="5" class="font-small" placeholder="Any additional question or comments"></textarea>
                    </div>
                </div>
                <button>Submit</button>
            </div>
            <a href="#home" id="back2Top" class="flex-center-x">
                <i class="icon icon-arrowup"></i>
                <span>back to top</span>
            </a>
        </div>
    </section>
</div>
<!-- END #contact -->
<!-- Floorplans -->
<div class="modal fade" id="viewFloorplansModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span class="closeit icon icon-close" data-dismiss="modal"></span>
                <img src="assets/stream/img/floorplan.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Video modal -->
<div class="modal fade fullscreen-modal video-modal" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="closeit icon icon-close" data-dismiss="modal"></span>
            <div class="modal-body flex-center">
                <iframe width="100%" height="315" data-src="https://www.youtube.com/embed/Jer8XjMrUB4" frameborder="0" allowfullscreen></iframe>
                <span class="caption font-small">Video caption title</span>
            </div>
        </div>
    </div>
</div>
<!-- Contact Video modal -->
<div class="modal fade fullscreen-modal video-modal" id="contactVideoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="closeit icon icon-close" data-dismiss="modal"></span>
            <div class="modal-body flex-center">
                <iframe width="100%" height="315" data-src="https://www.youtube.com/embed/MoHnffhBwqs" frameborder="0" allowfullscreen></iframe>
                <span class="caption font-small">Video caption title</span>
            </div>
        </div>
    </div>
</div>
<!-- Video modal -->
<div class="modal fade fullscreen-modal video-modal" id="profileVideoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <span class="closeit icon icon-close" data-dismiss="modal"></span>
            <div class="modal-body flex-center">
                <iframe width="100%" height="315" data-src="https://www.youtube.com/embed/fIOiAfEIk_g" frameborder="0" allowfullscreen></iframe>
                <span class="caption font-small">Video caption title</span>
            </div>
        </div>
    </div>
</div>
<!-- Info modal -->
<div class="modal fade fullscreen-modal" id="infoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <span class="closeit icon icon-close" data-dismiss="modal"></span>
            <div class="modal-body flex-center-x">
                <h2 class="title text-center font-big">Useful Info Docs & Links</h2>
                <p class="sub-title font-small">For further information and to register your interest please fill in your details</p>
                <ul class="font-small clearfix">
                    <li>
                        <a href="#">
                            <span class="icon icon-document"></span>
                            <h5 class="item-title font-small">CONTRACT OF SALE DOCUMENTS</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-document"></span>
                            <h5 class="item-title font-small">COMPARABLE SALES DOCUMENTS TITLE RUNNING TWO LINES OVER FOR LENGTH</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-document"></span>
                            <h5 class="item-title font-small">PROPERTY PDF</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-document"></span>
                            <h5 class="item-title font-small">RENTAL REPORT</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-document"></span>
                            <h5 class="item-title font-small">FLOORPLANS</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-link"></span>
                            <h5 class="item-title font-small">LORUM IPSUM LINK</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-link"></span>
                            <h5 class="item-title font-small">LORUM IPSUM LINK</h5>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon icon-link"></span>
                            <h5 class="item-title font-small">LORUM IPSUM LINK</h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
