<div id="themeReorder" class="hided editorPopup">
    <img src="assets/main/img/icon/close.png" alt="close" class="close" ng-click="themeReorderVm.hideThemeReorder()">
    <h2 class="title">Structure your site</h2>
    <h5 class="sub-title">Turn sections on and off, and drag to re-order the structure of your site</h5>
    <ul id="reorderSections" class="clearfix" ui-sortable="themeReorderVm.sortableOptions" ng-model="themeReorderVm.themeChangeableSections">
        <li class="fixed">
            <span class="title">Top Intro</span>
            <img src="assets/main/img/icon/lock.png" alt="lock">
            <span class="fixed-text">Fixed</span>
        </li>
        <li ng-repeat="section in themeReorderVm.themeChangeableSections">
            <input type="checkbox" id="ck{{ section.id }}" checked="true">
            <label class="font-small" for="ck{{ section.id }}"><span></span></label>
            <div class="title">{{ section.title }}</div>
            <span class="trigger"></span>
        </li>
        <li class="fixed">
            <span class="title">Contact</span>
            <img src="assets/main/img/icon/lock.png" alt="lock">
            <span class="fixed-text">Fixed</span>
        </li>
    </ul>
</div>
