<div id="themeSelector" class="hided editorPopup">
    <img src="assets/main/img/icon/close.png" alt="close" class="close" ng-click="themeSelectorVm.hideThemeSelector()">
    <h2 class="title">Switch theme designs</h2>
    <h5 class="sub-title">Select theme and customise colours, fonts, and layout to make it your own</h5>
    <div class="col-md-4" ng-repeat="theme in mainVm.themes">
        <div class="theme-option">
            <img ng-src="assets/main/img/{{ theme }}-preview.png" alt="{{ theme }}" class="preview" ng-click="mainVm.currentTheme = theme">
            <span class="name">{{ theme }}</span>
            <input type="radio" id="ck{{ theme }}" ng-model="mainVm.currentTheme" value="{{ theme }}">
            <label class="font-small" for="ck{{ theme }}"><span></span> SELECT</label>
        </div>
    </div>
</div>
