body,
html {
    padding: 0;
    margin: 0;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -ms-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0); // IE9 only
    transform: translate(0, 0);
}

.modal-backdrop {
    background-color: white;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal {
    text-align: center;
}

[data-target="#viewFloorplansModal"] {
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-body {
    position: relative;
}

@media (min-width: 769px) {
    .modal-dialog {
        width: 900px;
    }
}

button {
    border: none;
    outline: none;
}

.register-my-interest .title {
    font-family: Montserrat-Regular;
    font-size: 48px;
    color: #1C1C1C;
    letter-spacing: 2.25px;
    line-height: 78px;
    text-align: center;
}

.register-my-interest label {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: 1.16px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 27px;
}

.register-my-interest .modal-body {
    padding: 30px;
}

.modal-body .close {
    position: absolute;
    right: -20px;
    top: -20px;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 62px;
    height: 62px;
    /* background-color: black; */
}

.register-my-interest button {
    background: #000000;
    font-family: Lato-Bold;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 3.5px;
    line-height: 20px;
    width: 270px;
    height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
    border-radius: 4px;
}

.register-my-interest input,
.register-my-interest textarea {
    background: rgba(226, 226, 226, 0.15);
    border: 1px solid #9B9B9B;
    width: 100%;
    font-family: Lato-Regular;
    font-size: 13px;
    color: #000000;
    letter-spacing: 1.08px;
    line-height: 20px;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

a,
a:hover,
a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.parallax {
    min-height: 400px;
    background: transparent;
}

.hr {
    border: 1px solid #FFFFFF;
    width: 62px;
    display: block;
    margin: 25px auto;
    border-color: inherit;
}

.section-title {
    margin: 0;
    font-family: Karla-Bold;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 4.2px;
    padding-bottom: 36px;
    padding-top: 55px;
    text-align: center;
}

nav a,
.welcome h3,
.feature-list .name,
.label {
    text-transform: uppercase;
}

.label {
    display: block;
    white-space: normal;
    color: black;
}

.icon.hamburger {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 112;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 41px;
    text-align: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: white;
    color: black;
    z-index: 2;
}

#viewFloorplansModal {
    background: rgba(0, 0, 0, 0.9);
}

#home {
    background: url(../img/top-image.jpg) no-repeat center;
    background-size: cover;
}

#home nav ul {
    padding-top: 99px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

nav ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

nav li a {
    font-family: Karla-Bold;
    font-size: 11px;
    line-height: 1.6;
    letter-spacing: 4.6px;
    color: #9b9b9b;
}

nav li a:focus {
    color: #9b9b9b;
}

nav li.last a {
    margin-right: 0;
}

nav a.logo {
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 35px;
    color: black;
    font-family: Karla-Bold;
    font-size: 18px;
    color: #000000;
    letter-spacing: 5px;
    line-height: 18px;
    text-transform: none;
    width: 100%;
}

#secondary-nav {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
    height: 0;
}

#secondary-nav ul {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
}

#secondary-nav.sticky {
    position: fixed;
    top: 0;
    z-index: 111;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
    height: 80px;
}

#secondary-nav .logo {
    display: none;
}

#secondary-nav #currentPageTitle {
    font-family: Montserrat-Bold;
    font-size: 12px;
    line-height: 69px;
    letter-spacing: 4.6px;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 30px;
    margin: 0 30px;
    height: 66px;
    display: inline-block;
    text-transform: uppercase;
    width: 220px;
    text-align: center;
}

#secondary-nav.sticky .flex-center {
    position: absolute;
    height: 66px;
}

#secondary-nav .icon-arrowup,
#secondary-nav .icon-arrowdown {
    cursor: pointer;
    position: absolute;
    left: -40px;
    top: 6px;
    padding: 20px;
}

#secondary-nav .icon-arrowdown {
    right: -40px;
    left: auto;
}

#secondary-nav.sticky .logo {
    font-size: 14px;
    line-height: 80px;
    letter-spacing: 12px;
    margin: 0;
    color: inherit;
    margin-left: 49px;
}

#secondary-nav.sticky .lang-switch {
    float: right;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 275px;
    line-height: 80px;
}

#secondary-nav.sticky .register {
    position: relative;
    margin: 0;
    right: 0;
    top: 0;
    width: 40px;
    right: 46px;
    top: 2px;
}

#secondary-nav.sticky .info {
    right: 28px;
    width: 40px;
    padding: 0;
    top: 20px;
}

#secondary-nav.sticky .register i {
    font-size: 16px;
}

#secondary-nav.sticky ul {
    /* padding-top: 20px; */
}

#home .tint {
    background-color: rgba(0, 0, 0, 0.4);
}

.tint {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

#home nav li a.logo {
    color: white;
}

nav li a.logo:hover {
    border: none;
}

nav li a.active,
nav li a:hover {
    color: black;
}

nav .round-btn {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 30px;
    color: white;
    background-color: #000000;
    letter-spacing: 2.4px;
    font-family: Karla-Bold;
    font-size: 10px;
    position: absolute;
    right: 40px;
    top: 23px;
    padding-left: 18px;
}

nav .register {
    right: 130px;
    width: 162px;
}

nav .info {
    padding: 0 15px;
    padding-left: 34px;
}

nav .round-btn i {
    font-size: 14px;
    position: absolute;
    left: 13px;
    top: 13px;
    color: white;
}

#wrapper nav .register:hover {
    color: white;
}

#mobile-nav {
    background-color: black;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 999;
}

#mobile-nav .hamburger {
    background: white;
    color: black;
    text-align: center;
}

#mobile-nav .btn-wrap {
    margin-top: -11px;
    float: none;
    height: 64px;
    width: 306px;
}

#mobile-nav ul {
    margin-top: 17px;
    text-align: center;
    padding-bottom: 20px;
}

#mobile-nav .close {
    position: absolute;
    top: 15px;
    right: 19px;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 30px;
    z-index: 100;
}

#mobile-nav > ul {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
}

#mobile-nav .hr {
    border-color: white;
    margin: 10px auto;
    margin-bottom: 27px;
}

#mobile-nav .avatar {
    width: 80px;
    display: block;
    margin: 18px auto;
}

#mobile-nav .name {
    color: white;
    text-align: center;
    /* MICHEAL PASCOE: */
    margin-bottom: 5px;
    /* Michael Pascoe: */
    font-family: Karla-Bold;
    color: #FFFFFF;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 2.3px;
}

#mobile-nav .lang-switch {
    text-align: center;
    display: block;
    font-size: 12px;
    line-height: 1.5;
    color: #9b9b9b;
    margin-top: 18px;
}

#mobile-nav .lang-switch .selected {
    color: white;
}

#mobile-nav .register {
    /*     position: static;
    display: block;
    width: 225px;
    margin: 0 auto;
    margin-bottom: 12px;
    font-family: Karla-Regular;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0px;
    padding: 0;
    line-height: 45px; */
    padding-left: 39px;
}

#mobile-nav .round-btn {
    background: transparent;
}

#mobile-nav .contact {
    position: relative;
    text-align: center;
    width: 160px;
    margin: 0 auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 5px;
}

#mobile-nav .contact li:last-child img {
    margin-right: 0;
}

#mobile-nav .contact li {
    float: left;
}

#mobile-nav .contact .phone,
#mobile-nav .contact .email {
    position: absolute;
    left: 0;
    top: 13px;
}

#mobile-nav .contact .phone {
    top: 8px;
}

#mobile-nav .contact .phone {
    right: 0;
    left: auto;
}

#mobile-nav li a {
    color: white;
    width: 100%;
    border-bottom: none;
    /* padding-left: 23px; */
    /* padding-bottom: 10px; */
    font-family: Karla-Bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 2.2;
    letter-spacing: 2.3px;
}

#mobile-nav li {
    height: auto;
    position: relative;
}

#mobile-nav li .icon {
    background-color: white;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    position: absolute;
    top: 18px;
}

#mobile-nav li .icon-phone {
    left: -70px;
}

#mobile-nav li .icon-email {
    left: auto;
    right: -70px;
}

#mobile-nav li .icon-email {
    font-size: 16px;
}

#mobile-nav li:after {
    content: "";
    display: none;
}

#mobile-nav li a.logo {
    position: relative;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 8px;
}


/*home*/

#wrapper section {
    /* min-height: 100vh; */
    position: relative;
    /* padding-bottom: 150px; */
}

#gallery {
    min-height: 100vh;
}

#features .section-title {
    padding-top: 100px;
    padding-bottom: 17px;
}

#wrapper > #home {
    padding: 0;
}

#home {
    /* height: 100%; */
    /* height: 100vh; */
    position: relative;
    color: white;
    text-align: center;
    padding-bottom: 0;
}

.welcome {
    position: absolute;
    z-index: 1;
}

.icon.icon-play {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    padding-left: 12px;
    cursor: pointer;
}

.welcome .time {
    /* SATURDAY 21st Februa: */
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 33px;
    font-weight: 200;
    margin-bottom: 100px;
    display: block;
}

.welcome h1 {
    font-family: Montserrat-Regular, serif;
    margin: 0;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 1.2;
    letter-spacing: 4.4px;
    color: #ffffff;
    margin-top: -10px;
}

.welcome h3 {
    font-weight: 300;
    margin-bottom: 30px;
    font-family: Karla-Bold;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 7.5px;
}

#features {
    position: relative;
    background: white;
    background-size: cover;
    padding-bottom: 150px;
}

.video-section {
    border-radius: 50%;
    background-image: url('../img/detail_video_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 406px;
    height: 406px;
    text-align: center;
    color: white;
    margin: 35px auto;
    cursor: pointer;
}

.video-section .icon-play {
    margin-top: 125px;
}

.video-section h3 {
    font-family: Karla-Bold;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 7.5px;
    color: #ffffff;
}

#features .sidebar {
    margin-top: 150px;
}

#features .sidebar li {
    margin-bottom: 75px;
}

#features .sidebar .title {
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 2.6px;
    color: #273038;
    margin-bottom: 0;
    margin-top: 0;
}

#features .sidebar .value {
    font-family: Karla-Regular;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 2.6px;
}

#features .sidebar .icon {
    font-size: 30px;
    margin-bottom: 26px;
}

#features .sidebar.right .icon {
    color: #FFF!important;
    border-radius: 50%;
    padding: 14px;
    font-size: 19px;
    width: 47px;
    height: 47px;
    line-height: 20px;
    background: black;
}

#features .sidebar.right .icon-email {
    font-size: 13px;
}

#features .sidebar .icon-email {
    font-size: 21px;
}

#features .sidebar.left {
    font-family: Karla-Regular;
}

#features .sidebar.right {
    right: 0;
    font-family: Karla-Bold;
}

#features .sidebar.right .title {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 1.8px;
    color: #1c1c1c;
}

#features .box {
    left: 0;
    width: 320px;
}

#features .box .first {
    height: 307px;
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 43px;
}

#features .box li {
    font-family: Lato-Bold;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 1.8px;
    margin-bottom: 56px;
}

#features .box .icon {
    float: left;
    margin-right: 38px;
    font-size: 33px;
    width: 43px;
    text-align: center;
    color: inherit;
}

#features .box .first li:nth-child(1) div,
#features .box .first li:nth-child(2) div {
    margin-top: 11px;
    float: left;
}

#features .box .first .icon-email {
    font-size: 23px;
    margin-top: 4px;
}

#features .box .last {
    height: 208px;
    background-color: #ffffff;
    padding: 43px;
}

#features .box .last li {}

#features .box .last .icon-council {
    font-size: 26px;
    margin-top: 4px;
}

section hr {}

#features .content {
    position: absolute;
    right: 76px;
    left: 76px;
}

#features .content.scrollable {
    top: 100px;
    bottom: 76px;
}

#features .content ul {
    padding-left: 25px;
}

#features .content .feature-count {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
}

#features .house-feature {
    max-width: 510px;
    margin: 0 auto;
}

#features .house-feature ul {
    text-align: left;
}

#features .house-feature ul:last-child {
    padding-left: 95px;
}

#features .house-feature li {
    list-style: disc;
}

#features .house-feature hr {
    margin-bottom: 25px;
    margin-top: 25px;
    background: #000;
}

#features .house-feature h4 {
    margin-top: 25px;
    font-family: Karla-Bold;
    font-size: 25px;
    line-height: 1.3;
    letter-spacing: 2.1px;
    text-align: center;
}

#features .feature-count li {
    float: left;
    margin-right: 22px;
    font-size: 20px;
}

#features .feature-count li .icon {
    margin-right: 10px;
}

#features .feature-count li .count {
    font-family: Montserrat-Bold;
    font-size: 23px;
    line-height: 1.1;
    letter-spacing: 9.6px;
}

#features .sub-title {
    text-align: center;
    margin: 10px 0;
    font-family: Karla-Bold;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 2.4px;
    color: black;
}

#features .sub-title.second {
    font-family: Karla-Bold;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 2.1px;
    color: black;
    margin-bottom: 29px;
}

#features .sub-small-title {
    font-family: Karla-Regular;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.2px;
    color: black;
    text-align: center;
}

#features .main ul {
    padding-top: 20px;
    position: relative;
    max-width: 516px;
}

#features p {
    text-align: center;
}

#features .half.first {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
}

#features .hr {
    margin: 40px auto;
}

#features .feature-list {
    margin-bottom: 70px;
}

p,
#features ul {
    font-family: Lato-Regular;
    font-size: 14px;
    line-height: 2.4;
    letter-spacing: 1.2px;
    text-align: center;
}

#features .right ul li {
    list-style-type: disc;
    margin-left: 40px;
}

.feature-list {
    width: 500px;
    margin: 0 auto;
}

#home .lang-switch {
    padding: 0;
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.3;
    float: right;
    margin-right: 302px;
    margin-top: 35px;
    color: #9b9b9b;
}

#home .lang-switch span {
    margin-right: 10px;
    cursor: pointer;
}

#home .lang-switch .selected {
    color: black;
}

#home .feature-list {}

.scroll-explore {
    position: absolute;
    bottom: 30px;
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

#wrapper .scroll-explore a {
    color: white;
}

.scroll-explore .logo {
    margin-top: 14px;
    margin-bottom: 15px;
}

.scroll-explore h3 {
    font-family: Karla-Bold;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 6px;
    text-align: center;
    color: #FFF!important;
}

.scroll-explore .label {
    color: #FFFFFF;
    line-height: 15px;
    font-weight: 200;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 7px;
}

.scroll-explore .icon {
    height: 23px;
    /* margin-right: 26px; */
    font-size: 23px;
}

.feature-list li {
    float: left;
    /* width: 100%; */
    width: 33.333333333%;
    position: relative;
    font-family: Karla-Bold;
}

.feature-list .icon {
    margin: 0 auto;
    font-size: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
}

.feature-list .icon-bathtub {
    font-size: 31px;
    margin-bottom: 23px;
}

.feature-list .num {
    letter-spacing: 13.8px;
    font-size: 33px;
    font-family: Karla-Bold;
}

.feature-list .name {
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 13px;
    line-height: 0.9;
    letter-spacing: 5.4px;
    font-family: Karla-Bold;
}

#wrapper > #gallery {
    min-height: 100vh;
    padding-bottom: 0;
    min-height: auto;
    padding-bottom: 0;
    position: relative;
}

#gallery .bx-wrapper {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    position: absolute;
}
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#carousel .royalSlider{
    width: 100%;
    height: 100%;
}
#carousel .royalSlider .item{
    list-style: none;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#gallery-next,
#gallery-prev {
    position: absolute;
    z-index: 80;
    right: 0;
    width: 70px;
    height: 70px;
    background: white;
    opacity: .8;
    filter: alpha(opacity=80);
    top: 50%;
    margin-top: -35px;
    font-size: 45px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}

#gallery-next a,
#gallery-prev a {
    text-indent: -9999px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#gallery-prev {
    left: 0;
}

.bx-wrapper .bx-controls-direction a {
    z-index: 80;
    background: white;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    opacity: .8;
    filter: alpha(opacity=80);
}

.bx-wrapper .bx-next:before {
    content: "\e902";
    color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bx-wrapper .bx-next {
    right: 0;
}

.bx-wrapper .bx-prev {
    left: 0;
}

.bx-wrapper {
    margin-bottom: 0;
}

.bx-wrapper {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
}

.visibleNearby {
    width: 100%;
    background: transparent;
    color: #FFF;
    padding-top: 25px;
}

.visibleNearby img {
    -webkit-backface-visibility: hidden;
}

.visibleNearby .rsGCaption {
    font-size: 16px;
    line-height: 18px;
    padding: 12px 0 16px;
    background: transparent;
    width: 100%;
    position: static;
    float: left;
    left: auto;
    bottom: auto;
    text-align: center;
}

.royalSlider > .rsImg {
    visibility: hidden;
}

.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
    background: transparent;
}


/* Scaling transforms */

.visibleNearby .rsSlide img {
    opacity: 0.45;
    filter: alpha(opacity=45);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.visibleNearby .rsActiveSlide img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* Non-linear resizing on smaller screens */

@media screen and (min-width: 0px) and (max-width: 900px) {
    #gallery-1 {
        padding: 12px 0 12px;
    }
    #gallery-1 .rsOverflow,
    .royalSlider#gallery-1 {
        height: 400px !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    #gallery-1 .rsOverflow,
    .royalSlider#gallery-1 {
        height: 230px !important;
    }
}

#location-detail {
    background-color: #f7f7f7;
    padding-top: 53px;
    text-align: center;
    padding-bottom: 140px;
}

#video-carousel {
    margin: 0 auto;
    margin-top: 40px;
    width: 902px;
    /* height: 501px; */
    margin-bottom: 45px;
    position: relative;
}

#video-carousel .royalSlider {
    /* height: 500px; */
}

#video-carousel .royalSlider {
    width: 100%;
}

#video-carousel .rsPlayBtn {}

#video-carousel .rsPlayBtnIcon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 50px;
    -moz-osx-font-smoothing: grayscale;
    line-height: 100px;
    padding-left: 10px;
}

#video-carousel .rsPlayBtnIcon:before {
    content: "\e918";
}

.rsDefault .rsBtnCenterer {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
}

.rsDefault .rsPlayBtn {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid;
    color: white;
    line-height: 100px;
}

#location-detail .control span {
    position: absolute;
    top: 50%;
    z-index: 11;
    font-size: 57px;
    left: -70px;
    cursor: pointer;
    margin-top: -28.5px;
}

#location-detail .control span.icon-arrowright {
    right: -70px;
    left: auto;
}

#location-detail .container {
    /* width: 970px; */
}

#location-detail .video-play {
    position: absolute;
    color: white;
}

#location-detail .video-play span {
    display: block;
    font-family: Karla-Bold;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 7.5px;
    margin-top: 45px;
}

#location-detail h3 {
    font-family: Karla-Bold;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 2.4px;
    color: #1c1c1c;
    margin-top: 0;
}

#location-detail .house h3 {
    margin-top: 80px;
}

#location-detail p {}

#location-detail .features {
    margin-top: 70px;
}

#location-detail .features .item {
    max-width: 300px;
    margin: 0 auto;
}

#location-detail .features .icon {
    font-size: 28px;
    margin-bottom: 30px;
}

#location-detail .features h4 {
    font-family: Karla-Bold;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.7px;
}

#location-detail .features p {}

#location-detail .house {}

#location-detail .house ul {
    margin: 0 auto;
    width: 417px;
}

#location-detail .house .icon {
    font-size: 28px;
    margin-top: 30px;
}

#location-detail .house h4 {
    font-family: Karla-Bold;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.7px;
    margin-bottom: 30px;
}

#location-detail .house li {
    float: left;
    border-right: solid 1px #979797;
    padding: 0px 22px;
    text-align: center;
}

#location-detail .house li:last-child {
    border: none;
    margin-right: 0;
}

#location-detail .house span {
    display: block;
    font-family: Karla-Bold;
    font-size: 12px;
    letter-spacing: 2.6px;
}

#location-detail .house strong {
    font-family: Karla-Bold;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2.6px;
    font-weight: bold;
    font-size: 30px;
}

#location-detail .rsGCaption {
    text-align: center;
    font-family: Karla-Regular;
    font-size: 14px;
    line-height: 2.4;
    letter-spacing: 1.2px;
    margin-top: 5px;
    color: black;
    margin-bottom: 40px;
}

#location .half {
    background-color: rgba(255, 255, 255, 0.78);
    z-index: 11;
    position: absolute;
    top: 0;
    right: 0;
}

#location .box {
    position: absolute;
    left: -320px;
    width: 320px;
    height: 276px;
    z-index: 111;
    background: black;
    color: white;
}

#location .box .icon {
    font-size: 30px;
    float: left;
    margin-right: 28px;
    margin-top: 7px;
    color: inherit;
}

#location .box ul {
    margin-top: 41px;
    margin-left: 53px;
}

#location .box li {
    font-family: Lato-Bold;
    margin-bottom: 35px;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 2.6px;
}

#location .half .content {
    position: absolute;
    left: 76px;
    right: 76px;
}

#location {
    padding-bottom: 150px;
}

.location-features {
    margin-bottom: 39px;
    font-family: Lato-Bold;
}

.location-features li {
    width: 33.333333333%;
    text-align: center;
    float: left;
}

.location-features .icon {
    display: block;
    font-size: 29px;
    margin-bottom: 20px;
}

.location-features div {
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 2.6px;
}

.location-features strong {
    font-weight: bold;
    /* text-shadow: 1px 0px 0px; */
}

.mapwrapper {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.mapwrapper.full {
    position: fixed;
    width: 80%;
    height: 76%;
    top: 50%;
    left: 50%;
    z-index: 101;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1130px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 1130px rgb(0, 0, 0);
    -moz-box-shadow: 0 0 1130px rgb(0, 0, 0);
    border-radius: 0;
    background: white;
}

.mapwrapper.full #map2 {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.mapwrapper .label {
    font-size: 12px;
    letter-spacing: 1.79px;
    line-height: 16px;
    font-weight: 200;
    color: inherit;
}

.mapwrapper.full .label {
    display: none;
}

.mapwrapper .icon {
    width: 80px;
    height: 80px;
    background-image: url(../img/icon/plus.png);
    background-size: 30px;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: -41px;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid;
    border-radius: 50%;
}

.mapwrapper.full .icon {
    background-image: url(../img/icon/close.png);
    position: absolute;
    bottom: -26px;
    margin: 0;
    left: 50%;
    margin-left: -40px;
}

#map,
#map2 {
    width: 100%;
    height: 422px;
}

.mapwrapper.full {
    display: none;
}

#auction {
    text-align: center;
    background: white;
    background-size: cover;
    padding-bottom: 100px;
}

#auction .auction {
    font-size: 13px;
    margin: 0;
}

#auction .half {
    position: relative;
    z-index: 1;
}

#auction .tint {
    background-color: rgba(255, 255, 255, 0.9);
}

#auction .content {
    color: black;
}

#auction .sub-title {
    font-family: Montserrat-Regular;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 12px;
}

#auction .table {
    margin: 0 auto;
    text-align: left;
    font-size: 16px;
}

#auction .table .add-btn {
    text-align: center;
    margin: 0 auto;
}

#auction .table td {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: #273038;
    font-weight: 200;
    vertical-align: middle;
    border: none;
    padding-right: 25px;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 2px;
}

#auction .table td a {
    color: #273038;
}

#auction .table td span {
    font-weight: bold;
}

#auction .table tr {
    height: 90px;
}

#auction .table tr:hover {
    /* background: #E2E2E2; */
    cursor: pointer;
}

#auction .table .icon {
    font-size: 31px;
    margin-bottom: 9px;
}

#auction .table .label {
    font-size: 10px;
    letter-spacing: 1.2px;
}

.icon {
    display: inline-block;
}

#agent {
    background-color: #f7f7f7;
    color: black;
    padding-bottom: 80px;
}

#agent .half:nth-child(2) .flex-center-y {
    position: absolute;
    right: 76px;
}

#agent .content.flex-center {
    position: absolute;
    width: 450px;
    color: white;
}

#agent .contact {
    color: inherit;
    font-size: 16px;
    line-height: 2.1;
    letter-spacing: 1px;
    font-family: Lato-Regular;
    margin: 0 auto;
}

#agent .contact li {
    width: 33.3333333%;
    float: left;
    line-height: 40px;
    cursor: pointer;
}

#agent .icon {
    font-size: 23px;
    margin-right: 21px;
    width: 23px;
    float: left;
    margin-top: 3px;
    line-height: 31px;
}

#agent .icon-play {
    border: 4px solid;
    line-height: 29px;
    width: 36px;
    height: 36px;
    font-size: 16px;
    text-align: left;
    padding-left: 9px;
}

#agent .icon-email {
    font-size: 14px;
    margin-top: 5px;
}

#agent .icon-emailsolid {
    font-size: 15px;
}

section#agent .hr {
    margin: 40px auto;
}

#agent .quote {
    color: inherit;
    font-family: PlayfairDisplay-Regular;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
    margin-top: 22px;
}

#agent .avatar {
    width: 186px;
    margin: 0 auto;
    display: block;
    margin-bottom: 39px;
}

#agent .name {
    line-height: 23px;
    text-align: center;
    margin-bottom: 25px;
    color: inherit;
    font-family: Lato-Bold;
    font-size: 19px;
    letter-spacing: 3.7px;
}

#contact .contact {
    /* 02 234567....: */
    font-family: Lato-Regular;
    font-size: 14px;
    letter-spacing: 0.87px;
    line-height: 24px;
}

#contact .contact li {
    margin-bottom: 18px;
}

#contact .contact li img {
    float: left;
    margin-right: 18px;
    margin-top: 3px;
}

.contact img {
    width: 24px;
}

#wrapper #contact {
    background-color: black;
    color: white;
    height: auto;
    padding-bottom: 0;
}

#contact .video-section {
    width: 250px;
    height: 250px;
    background-image: url('../img/footer_video_bg.jpg');
}

#contact .video-section .icon-play {
    width: 119.9px;
    height: 119.9px;
    margin-top: 68px;
    font-size: 55px;
    line-height: 120px;
}

#contact .video-caption {
    text-align: center;
    font-family: Karla-Bold;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 7.5px;
    margin-bottom: 80px;
}

#contact-1 {
    padding-top: 76px;
    padding-bottom: 140px;
    font-family: Karla-Regular;
}

#contact-1 ul li {
    text-align: center;
}

#contact-1 ul h4 {
    font-family: Karla-Bold;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 2px;
    font-weight: bold;
}

#contact-1 ul span {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.2px;
    color: white;
}

#contact-1 ul span a {
    color: white;
}

#contact-1 ul .icon {
    font-size: 40px;
}

#contact-1 ul .icon-email {
    font-size: 23px;
    margin-bottom: 11px;
    margin-top: 20px;
}

#contact-1 .logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 110px;
}

#contact-2 {
    color: black;
    background: white;
    padding-bottom: 150px;
    position: relative;
}

#contact-2 p.text-center {
    margin-bottom: 30px;
}

#contact-2 .register-my-interest .title {
    padding-top: 76px;
    font-family: Karla-Bold;
    font-size: 48px;
    line-height: 1.6;
    letter-spacing: 2.2px;
}

#contact-3 {}

#contact-1 .website {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: Karla-Regular;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 1.2px;
}

#contact-1 .title {
    font-family: Karla-Bold;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 2px;
    margin-top: 70px;
    margin-bottom: 30px;
}

#contact-1 .office-hours {
    width: 200px;
    margin: 0 auto;
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.9px;
    margin-bottom: 43px;
}

#contact-1 .office-hours li {
    text-align: left;
}

#contact-1 .office-hours .date {
    width: 159px;
    display: inline-block;
}

#contact-1 .office-hours .hour {
    white-space: nowrap;
}

#contact .socials img {
    height: 18px;
}

#contact .socials {
    position: relative;
    margin: 0 auto;
    width: 190px;
    margin-top: 20px;
}

#contact .socials ul {
    position: relative;
    display: inline-block;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#contact .socials h4 {
    /* CONNECT WITH US: */
    font-family: Lato-Bold;
    margin-top: 0;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

#back2Top {
    text-transform: uppercase;
    font-family: Karla-Regular;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 7px;
    position: absolute;
    bottom: 35px;
    color: black;
}

#back2Top .icon {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    font-size: 23px;
}

.fullscreen-modal .modal-body {
    position: absolute;
}

.modal-content .closeit {
    background: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 11;
}

.fullscreen-modal .sub-title {
    padding-top: 20px;
    padding-bottom: 40px;
}

.fullscreen-modal .modal-dialog {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.fullscreen-modal .modal-content {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
}

#infoModal {
    background: white;
}

#infoModal h2 {
    font-size: 48px;
    margin-top: 12%;
}

#infoModal .modal-content {
    box-shadow: none;
    background: transparent;
}

#infoModal .modal-body {
    height: 508px;
}

#infoModal ul {
    padding-left: 40px;
}

#infoModal li a {
    margin: 20px 0;
    width: 100%;
    clear: both;
    display: block;
    text-align: left;
    align-items: center;
    position: relative;
    min-height: 40px;
    display: table;
}

#infoModal li .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

#infoModal li .item-title {
    font-family: Karla-Bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2.3px;
    padding-left: 54px;
    vertical-align: middle;
}

.modal-content iframe {
    width: 850px;
    height: 480px;
}

.modal-body .caption {
    text-align: center;
    display: block;
    margin: 10px 0;
    color: white;
}
.rsDefault .rsCloseVideoBtn {
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    z-index: 500;
    position: absolute;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    
}
.rsDefault .rsCloseVideoBtn.rsiOSBtn {
    top: -38px;
    right: -6px;
}

.rsDefault .rsCloseVideoIcn {
    margin: 6px;
    width: 32px;
    height: 32px;
    background: url('../../main/img/rs-default.png') -64px 0;
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    *background-color: #000;
}
.rsDefault .rsCloseVideoIcn:hover {
    background-color: rgba(0,0,0,0.9);
}
