@media screen and (min-width: 1920px) {
    .carousel-inner .item img {
        width: 100%;
    }
}

@media screen and (max-width: 1366px) {
    .scroll-explore {
        bottom: 15px;
    }
    .scroll-explore .logo {
        margin: 0 auto;
        margin-top: 14px;
        width: 150px;
        display: block;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 1366px) {
    .icon.icon-play{
        width: 100px;
        height: 100px;
        font-size: 50px;
        line-height: 100px;
    }

.welcome h1 {
    font-size: 47px;
}

.welcome h3 {
    margin-bottom: 15px;
}
}
@media screen and (max-width: 1200px) {
    #infoModal h2 {
        font-size: 40px;
    }
    .icon.hamburger {
        display: block;
    }
    #secondary-nav.sticky {
        height: 60px;
    }
    #secondary-nav ul li {
        display: none;
    }
    #secondary-nav.sticky .logo {
        display: block;
        margin-left: 0;
        letter-spacing: 8px;
        line-height: 60px;
        font-size: 10px;
    }
    #wrapper #primary-nav {
        height: 126px;
        background: transparent;
    }
    #home nav ul,
    .lang-switch {
        display: none;
    }
    #wrapper nav .round-btn {
        top: 10px;
        background: transparent;
        position: relative;
        left: auto;
        right: auto;
        padding-right: 0;
        float: left;
    }
    #home nav .round-btn {
        color: white;
    }
    nav .btn-wrap {
        width: 268px;
        margin: 0 auto;
        position: relative;
        z-index: 11;
        margin-top: 3px;
    }
    nav .btn-wrap .round-btn {}
    #wrapper nav .info {
        display: none;
    }
    nav a.logo {
        display: none;
    }
    #home nav .info {
        display: block;
    }
}


/* ----------- Tablet ----------- */


/* Portrait and Landscape */

@media only screen and (max-width: 1024px) {
    #video-carousel{width: 80%;}

#video-carousel .royalSlider {
    height: 350px;
}
    .icon.icon-play {
        width: 100px;
        height: 100px;
        font-size: 40px;
        line-height: 100px;
    }
}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    #video-carousel{width: 80%;}
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}


/* ----------- Mobile ----------- */


/* Portrait and Landscape */

@media screen and (max-width: 568px) {
    #video-carousel{
        
    }
    .welcome {
        margin-top: -15px;
    }
    #infoModal .sub-title{
        padding-bottom: 0;
    }
    #infoModal h2{
        font-size: 22px;
    }
    #location{
        padding-bottom: 40px;
    }
    #features .house-feature{
        margin-bottom: 70px;
    }
    #secondary-nav.sticky .logo{
        margin-left: 0;
    }
    #infoModal .modal-body {
        width: 100%;
    }
    .fullscreen-modal .closeit {
        width: 40px;
        height: 40px;
        line-height: 40px;
        right: 10px;
        top: 10px;
    }
    .modal-content iframe {
        width: 300px;
        height: 170px;
    }
    #location-detail .control span {
        font-size: 29px;
        left: -23px;
        margin-top: -15px;
    }
    #location-detail h3 {
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 1.7px;
    }

#location-detail .rsGCaption {
    margin-bottom: 20px;
}

#location-detail h3:first-child {
    margin-top: 40px;
}
    #location-detail .control span.icon-arrowright {
        right: -23px;
    }
    #agent .icon-play {
        margin-left: -9px;
    }
    #location-detail .features .icon {
        margin-bottom: 15px;
        margin-top: 30px;
    }
    #video-carousel {
        width: 92%;
        margin: 0 auto;
        margin-top: 30px;
    }

#video-carousel .royalSlider {
    height: 208px;
}
    #location-detail .video-play span {
        margin-top: 10px;
        white-space: nowrap;
        font-size: 10px;
    }
    #location-detail .house ul {
        width: 300px;
    }
    #location-detail .house strong {
        font-size: 22px;
    }
    #location-detail .house span {
        font-size: 10px;
    }
    #location-detail .house li {
        padding: 0px 10px;
    }
    #location-detail .container {
        width: 100%;
    }
    #location-detail {
        padding-bottom: 50px;
        padding-top: 0;
    }
    #video-carousel img {
        width: 100%;
    }
    .video-section {
        width: 240px;
        height: 240px;
    }
    .video-section .icon-play {
        margin-top: 82px;
    }
    .video-section h3 {
        font-size: 12px;
    }
    #contact-1 {
        padding-bottom: 12px;
    }
    #contact-1 ul li {
        margin-bottom: 45px;
    }
    #contact-1 .logo {
        margin-bottom: 50px;
    }
    p,
    #features ul {
        font-size: 12px;
        line-height: 2.1;
    }
    #carousel {
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
    }
    #gallery-next,
    #gallery-prev {
        width: 40px;
        height: 40px;
        font-size: 22px;
        line-height: 40px;
    }
    #features .sub-title {
        font-size: 15px;
        margin-bottom: 15px;
        margin-top: 0;
    }
    #wrapper > section {
        padding-bottom: 40px;
    }
    #wrapper #contact-2 {
        padding-bottom: 150px;
    }
    #agent .contact {
        display: inline-block;
        position: relative;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
    }
    #agent .contact li {
        width: auto;
        float: none;
        margin-bottom: 15px;
    }
    #agent .quote {
        font-size: 18px;
    }
    #features .sidebar li {
        margin: 0 auto;
        margin-bottom: 25px;
    }
#features .sidebar {
    width: 50%;
    float: left;
}
    #features .sidebar li {
        margin-bottom: 40px;
        min-height: 148px;
    }
    #features .sidebar .icon {
        display: block;
        margin: 0 auto;
        margin-bottom: 26px;
        height: 47px;
        line-height: 47px;
    }
    .location-features .icon {
        float: left;
        width: 100px;
        text-align: center;
        margin: 0;
    }
    .location-features li {
        width: 260px;
        margin: 0 auto;
        float: none;
        text-align: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 25px;
    }
    .location-features li:last-child {
        margin-bottom: 0;
    }
    .location-features > div {}
    #features .sidebar .icon-email {
        font-size: 20px;
    }
    #features .sidebar .title,
    #features .sidebar .value {
        text-align: center;
    }
    #features {
        padding-bottom: 30px;
    }
    #features .sidebar .value {}
    .section-title,
    #contact-2 .register-my-interest .title {
        font-size: 28px;
        line-height: 1.4;
        letter-spacing: 1.3px;
    }
    #contact-2 .register-my-interest .title {
        padding-top: 30px;
    }
    #features .sidebar {
        margin-top: 30px;
    }
    #features .main ul {
        text-align: left;
        padding-left: 30px;
        margin: 0 auto;
    }
    #features .house-feature > div {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        left: 50%;
        display: inline-block;
        position: relative;
    }
    #features .house-feature ul:last-child {
        padding-left: 30px;
        margin: 0;
        padding-top: 0;
    }
    .modal-content {}
    .modal-content img {
        width: 100%;
    }
    .modal-body .close {
        width: 30px;
        height: 30px;
        right: 5px;
        top: 5px;
    }
    #auction .table td {
        padding-right: 0;
    }
    #auction .table .auction {
        display: none;
    }
    #auction .table td:last-child {
        padding-left: 14px;
    }
    #auction .table .add-btn {
        width: 28px;
    }
    #auction .table .label {
        padding: 0;
    }
    #editTools {
        display: none;
    }
    .welcome h1 {
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: 5px;
        margin-bottom: 25px;
    }
    .welcome {
        width: 100%;
        /* padding-top: 77px; */
    }
    .icon.icon-play {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 40px;
    }
    #home .feature-list {
        width: 95%;
        height: 33px;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-flex;
        /* Safari */
        -webkit-justify-content: space-around;
        /* Safari 6.1+ */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    #home .feature-list li:first-child,
    #home .feature-list li:last-child {
        margin-top: 10px;
    }
    #features #secondary-nav.sticky .logo {
        display: block;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 4.2px;
        text-align: center;
        margin: 0;
        line-height: 60px;
    }
    .feature-list li {
        width: auto;
    }
    .feature-list .num {
        font-size: 22px;
        letter-spacing: 9.2px;
    }
    .feature-list .icon {
        font-size: 20px;
        margin-bottom: 0;
    }
    .feature-list .icon-bathtub {
        font-size: 30px;
        margin-bottom: 0;
    }
    .feature-list .name {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    #map {
        height: 240px;
    }
    .scroll-explore {}
    .scroll-explore .logo {
        height: 26px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: auto;
    }
    .scroll-explore .icon {
        font-size: 17px;
    }
    .scroll-explore {
        bottom: 5px;
    }
    .welcome h3 {
        margin-bottom: 15px;
        font-size: 12px;
    }
    .welcome h1{
        font-size: 26px;
    }

.icon.icon-play {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    padding-left: 6px;
}
}


/* Landscape */

@media only screen and (max-device-width: 736px) and (orientation: landscape) {
    .scroll-explore .logo,
    .scroll-explore h3 {
        display: none!important;
    }
    nav a.logo {
        margin-top: 12px;
    }
    #primary-nav {
        height: 100px;
    }
    nav .register {
        top: 41px;
    }
    #features .sidebar li {
        margin-bottom: 30px;
    }
    #features .sidebar {
        margin-top: 30px;
    }
    #features .house-feature ul:last-child {
        padding-left: 0;
    }
    .welcome h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .feature-list .name {
        display: none;
    }
    .scroll-explore .logo {
        height: 20px;
        display: block;
        margin: 0 auto;
    }
    .scroll-explore .icon {
        font-size: 17px;
        margin-top: 10px;
    }
    .welcome h3 {
        margin-bottom: 5px;
    }
}


/*iphone 5*/

@media only screen and (max-device-width: 568px) and (orientation: landscape) {
    .welcome h1 {
        font-size: 30px;
    }
}
